h1{margin-bottom:10px;}

.resumecat {
	font-size: 13px;
}
.content_scene_cat { float: left; width: 100%;}
.category-image { display: none; }
.cat_desc {
	line-height:18px;
	margin-top: 15px;
	padding: 10px 10px 10px 0;
}
.cat_desc .lnk_more {
	margin: 10px 0;	
   padding:0 10px 0 0;
   color:#333;
   display: inline-block;
   clear: both;
    font-weight: 700;
	background:url("../img/default/circle-li.png") no-repeat right center transparent;
}
.category-container .img-responsive {
    padding-bottom: 25px;
}

/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
	padding-bottom: 0;
    text-align: center;
    display: none;
}
#subcategories .s_title_block{ display: block!important; font-family: "Raleway"; text-transform: uppercase; color: #333; font-size: 1em; font-weight: 600; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}


.category-container .cat_desc {padding: 0; margin-top: 5px;}
.inline_list {
	list-style-type:none;
	margin-top:10px;
}
.inline_list  li {
	padding:10px 0;
	border-bottom:1px dotted #ccc
}
.inline_list  li .img {
	float:left;
	margin-right:15px
}
.inline_list  li img {
	border:1px solid #ccc
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}
.category-container { padding-top: 15px; padding-bottom: 15px;}