@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic);

@font-face {
    font-family: 'proximanovaextbold';
    src: url('../fonts/proximanova-extrabold.eot');
    src: url('../fonts/proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold.woff') format('woff'),
         url('../fonts/proximanova-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	
}

@font-face {
	font-family: 'proximanovalight';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'proximanova';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'proximanovasemibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "audioactive";
  src:url("../fonts/audioactive.eot");
  src:url("../fonts/audioactive.eot?#iefix") format("embedded-opentype"),
    url("../fonts/audioactive.woff") format("woff"),
    url("../fonts/audioactive.ttf") format("truetype"),
    url("../fonts/audioactive.svg#audioactive") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "audioactive" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "audioactive" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-peaton:before {
  content: "c";
}
.icon-tranvias:before {
  content: "d";
}
.icon-mochila:before {
  content: "f";
}
.icon-cerrar-ventana:before {
  content: "e";
}
.icon-backpack-streamline-trekking:before {
  content: "f";
}
.icon-descargar-libro:before {
  content: "g";
}
.icon-libro:before {
  content: "h";
}
.icon-comentario:before {
  content: "i";
}
.icon-papelera:before {
  content: "j";
}
.icon-globo-terraqueo:before {
  content: "k";
}
.icon-restaurante:before {
  content: "l";
}
.icon-email-linea:before {
  content: "m";
}
.icon-editar-linea:before {
  content: "n";
}
.icon-auriculares-linea:before {
  content: "o";
}
.icon-enlace-linea:before {
  content: "p";
}
.icon-bloquear-linea:before {
  content: "q";
}
.icon-desbloquear-linea:before {
  content: "r";
}
.icon-barita-magica:before {
  content: "s";
}
.icon-iman:before {
  content: "t";
}
.icon-usuario-linea:before {
  content: "u";
}
.icon-mapa-linea:before {
  content: "v";
}
.icon-mapa-persona-linea:before {
  content: "w";
}
.icon-imagenes-linea:before {
  content: "x";
}
.icon-paraguas-linea:before {
  content: "y";
}
.icon-ajustes-linea:before {
  content: "z";
}
.icon-opciones-linea:before {
  content: "A";
}
.icon-ancla:before {
  content: "B";
}
.icon-bluetooth:before {
  content: "C";
}
.icon-promocion:before {
  content: "D";
}
.icon-marcador:before {
  content: "E";
}
.icon-dado-5:before {
  content: "F";
}
.icon-dado-4:before {
  content: "G";
}
.icon-dado-1:before {
  content: "H";
}
.icon-dado-6:before {
  content: "I";
}
.icon-dado-2:before {
  content: "J";
}
.icon-medico:before {
  content: "K";
}
.icon-lista-favoritos:before {
  content: "L";
}
.icon-mapa-hoja:before {
  content: "M";
}
.icon-estrella:before {
  content: "N";
}
.icon-facebook:before {
  content: "O";
}
.icon-twitter-circulo:before {
  content: "Q";
}
.icon-twitter:before {
  content: "R";
}
.icon-google-plus:before {
  content: "S";
}
.icon-linkedin:before {
  content: "P";
}
.icon-home-linea:before {
  content: "T";
}
.icon-home:before {
  content: "U";
}
.icon-telefono:before {
  content: "V";
}
.icon-movil-linea:before {
  content: "W";
}
.icon-movil:before {
  content: "X";
}
.icon-email-hoja:before {
  content: "Y";
}
.icon-comentarios-usuario:before {
  content: "Z";
}
.icon-add-usuario:before {
  content: "0";
}
.icon-usuarios:before {
  content: "1";
}
.icon-login:before {
  content: "2";
}
.icon-salir:before {
  content: "3";
}
.icon-cancelar:before {
  content: "4";
}
.icon-cancelar-circulo:before {
  content: "5";
}
.icon-ok-circulo:before {
  content: "6";
}
.icon-ok:before {
  content: "7";
}
.icon-mundo-linea:before {
  content: "8";
}
.icon-sonido-linea:before {
  content: "9";
}
.icon-atomo-linea:before {
  content: "!";
}
.icon-reloj:before {
  content: "\"";
}
.icon-reloj-arena:before {
  content: "#";
}
.icon-volver-tiempo:before {
  content: "$";
}
.icon-cronometro:before {
  content: "%";
}
.icon-tiempo:before {
  content: "&";
}
.icon-menu-navegacion:before {
  content: "'";
}
.icon-cuadricula-9:before {
  content: "(";
}
.icon-cuadricula-4:before {
  content: ")";
}
.icon-cuadricula-44:before {
  content: "*";
}
.icon-quote:before {
  content: "+";
}
.icon-quote-izquierda:before {
  content: ",";
}
.icon-mapa-web:before {
  content: "-";
}
.icon-llave:before {
  content: ".";
}
.icon-ojo:before {
  content: "/";
}
.icon-apple:before {
  content: ":";
}
.icon-windows-8:before {
  content: ";";
}
.icon-add-carrito:before {
  content: "<";
}
.icon-quitar-carrito:before {
  content: "=";
}
.icon-carrito:before {
  content: ">";
}
.icon-brujula:before {
  content: "?";
}
.icon-marcador-lugar:before {
  content: "@";
}
.icon-subir:before {
  content: "[";
}
.icon-descargar:before {
  content: "]";
}
.icon-enviar:before {
  content: "^";
}
.icon-flecha-izquierda:before {
  content: "_";
}
.icon-flecha-derecha:before {
  content: "`";
}
.icon-flecha-arriba:before {
  content: "{";
}
.icon-flecha-abajo:before {
  content: "|";
}
.icon-minimizar:before {
  content: "}";
}
.icon-maximizar:before {
  content: "~";
}
.icon-ampliar:before {
  content: "\\";
}
.icon-reducir:before {
  content: "\e000";
}
.icon-flecha2-arriba:before {
  content: "\e001";
}
.icon-flecha2-derecha:before {
  content: "\e002";
}
.icon-flecha2-izquierda:before {
  content: "\e003";
}
.icon-flecha2-abajo:before {
  content: "\e004";
}
.icon-diana:before {
  content: "\e005";
}
.icon-avion:before {
  content: "\e006";
}
.icon-estudiante:before {
  content: "\e007";
}
.icon-info:before {
  content: "\e008";
}
.icon-rescate:before {
  content: "\e009";
}
.icon-sol:before {
  content: "\e00a";
}
.icon-sol-brillante:before {
  content: "\e00b";
}
.icon-impresora:before {
  content: "\e00c";
}
.icon-campana:before {
  content: "\e00d";
}
.icon-gota:before {
  content: "\e00e";
}
.icon-wifi:before {
  content: "\e00f";
}
.icon-cohete:before {
  content: "\e010";
}
.icon-euro:before {
  content: "\e011";
}
.icon-dollar:before {
  content: "\e012";
}
.icon-libra:before {
  content: "\e013";
}
.icon-tarjeta-credito:before {
  content: "\e014";
}
.icon-otra-ventana:before {
  content: "\e015";
}
.icon-arriba-abajo:before {
  content: "\e016";
}
.icon-add-lista:before {
  content: "\e017";
}
.icon-cono:before {
  content: "\e018";
}
.icon-email-plane:before {
  content: "\e019";
}
.icon-flecha3-izquierda:before {
  content: "\e01a";
}
.icon-flecha3-abajo:before {
  content: "\e01b";
}
.icon-flecha3-arriba:before {
  content: "\e01c";
}
.icon-flecha3-derecha:before {
  content: "\e01d";
}
.icon-me-gusta:before {
  content: "\e01e";
}
.icon-flag:before {
  content: "\e01f";
}
.icon-ticket:before {
  content: "\e020";
}
.icon-credit-cards:before {
  content: "\e021";
}
.icon-id-card:before {
  content: "\e022";
}
.icon-vcard:before {
  content: "\e023";
}
.icon-info-circled:before {
  content: "\e024";
}
.icon-gift:before {
  content: "\e025";
}
.icon-globe:before {
  content: "\e026";
}
.icon-microscope:before {
  content: "\e027";
}
.icon-mortar-board:before {
  content: "\e028";
}
.icon-radio-tower:before {
  content: "\e029";
}
.icon-microwave:before {
  content: "\e02a";
}
.icon-hearing-aid:before {
  content: "\e02b";
}
.icon-volume-up:before {
  content: "\e02c";
}
.icon-sound:before {
  content: "\e02d";
}
.icon-micro-record-streamline:before {
  content: "\e02e";
}
.icon-computer-imac:before {
  content: "\e02f";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "\e030";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "\e031";
}
.icon-monocle-mustache-streamline:before {
  content: "\e032";
}
.icon-music-note-streamline:before {
  content: "\e033";
}
.icon-settings-streamline:before {
  content: "\e034";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "\e035";
}
.icon-armchair-chair-streamline:before {
  content: "\e036";
}
.icon-clock-streamline-time:before {
  content: "\e037";
}
.icon-dashboard-speed-streamline:before {
  content: "\e038";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "\e039";
}
.icon-ipod-mini-music-streamline:before {
  content: "\e03a";
}
.icon-volume-strike:before {
  content: "\e03b";
}
.icon-enter:before {
  content: "\e03c";
}
.icon-bell-two:before {
  content: "\e03d";
}
.icon-stethoscope:before {
  content: "\e03e";
}
.icon-params:before {
  content: "\e03f";
}
.icon-vynil:before {
  content: "\e040";
}
.icon-banknote:before {
  content: "\e041";
}
.icon-bulb:before {
  content: "\e042";
}
.icon-camera:before {
  content: "\e043";
}
.icon-battery-power:before {
  content: "\e044";
}
.icon-database-streamline:before {
  content: "\e045";
}
.icon-stamp-streamline:before {
  content: "\e046";
}