/* ##################################################################################################
	PRESTASHOP CSS
################################################################################################## */

/* ****************************************************************************
		reset
**************************************************************************** */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
caption,th{text-align:left}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}

legend{color:#000}

.fs9{ font-size:9px; }
.fs10{ font-size:10px; }
.fs11{ font-size:11px; }
.fs12{ font-size:12px; }
.fs13{ font-size:13px }
.fs14{ font-size:15px }
.fs15{ font-size:16px }


/* ************************************************************************************************
		struture
************************************************************************************************ */
#page { padding-top: 110px;}
	#header {z-index:999}
	#columns {z-index:1; margin-bottom: 20px;}
	#index  #columns {margin-bottom: 0;}
		#left_column {}
		#center_column {}
		#right_column {}
	#footer {}
		.container {padding: 0;}
/* ************************************************************************************************
		generic style
************************************************************************************************ */

body.content_only {
	
}

/* positionnement ****************************************************************************** */
.hidden {display:none}
.f_left {float:left}
.f_right {float:right}
p.center {text-align:center}
.clearBoth {clear:both}

/* title *************************************************************************************** */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    margin: 0;
}
.cms-title {
    background-image: url("../img/bg/circles-title-cms.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #7028a0 !important;
    float: left;
    font-family: "Raleway";
    font-size: 2em !important;
    font-weight: 600;
    height: 100px;
    margin-bottom: 15px;
    padding-right: 100px !important;
    padding-top: 25px !important;
    text-transform: uppercase;
    width: 100% !important;
}
.cms-list li {line-height: 30px;list-style: decimal inside none; margin-bottom: 25px; font-size: 1.2em; float: left;}
.cms-title > span {
    border-top: 1px solid #8446ad;
    color: #8446ad !important;
    float: left;
    margin-top: 10px;
    padding: 10px 0 8px;
    text-align: left;
    text-transform: uppercase !important;
    width: 100%;
}
.cms-txt{ font-weight: 300; font-size: 1.25em; line-height: 1.5em;}
#bg-envio {background-image: url("../img/bg/bg-envio.jpg");background-position: center center;background-repeat: no-repeat;float: left;padding-bottom: 200px; padding-top: 200px;}
#bg-devolucion {background-image: url("../img/bg/bg-devolucion.jpg");background-position: center center;background-repeat: no-repeat;float: left;padding-bottom: 200px; padding-top: 200px;}
#bg-fabrica-casa {background-image: url("../img/bg/bg-fabrica-casa.jpg");background-position: center center;background-repeat: no-repeat;float: left;padding-bottom: 200px; padding-top: 200px;}
#cms {background-color: #eee;}
#cms #center_column {box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); padding: 50px; background-color: #fff; margin-bottom: 20px;}
h1 {
	font-size:24px;
	line-height: 22px
}
.titulares { box-shadow:0 30px 40px rgba(255, 255, 255, 1) inset, 0 -30px 40px rgba(255, 255, 255, 1) inset; -webkit-box-shadow:0 30px 40px rgba(255, 255, 255, 1) inset, 0 -30px 40px rgba(255, 255, 255, 1) inset; -moz-box-shadow: 0 30px 40px rgba(255, 255, 255, 1) inset, 0 -30px 40px rgba(255, 255, 255, 1) inset;margin-bottom: 20px;padding-bottom: 120px;padding-top: 120px; background-attachment: fixed; background-position: center center;background-image: url("../img/bg-titulares.jpg"); background-size: cover; background-repeat: no-repeat;}
.titulares h1{text-align: center; margin-top: 20px; font-size: 2.2em; font-weight: 600; color:#333; margin-bottom: 20px; text-transform: uppercase;line-height: 1.2em;}
.titulares p{ font-weight: 300; font-size: 1.2em; text-align: center; color: #666666;}
h2 {

	font-size:20px
}
h3 {
	font-size: 18px;
    line-height: 34px;
}
h4 {
    font-size: 17px;
    line-height: 26px;
}
.block .title_block {
	padding: 10px 20px;
    text-align: center;
	font-size:18px;
	background-color: #fff;
}

/* text **************************************************************************************** */
p {padding-bottom:10px; display: block; font-family: 'Raleway';}

p em {font-style:italic}

.warning {
	margin:0 auto 20px;
	padding:10px;
	border:1px solid #F9BF3B;
	font-size:16px;
    font-weight: 600;
    color: #774425;
	background:#F9BF3B;
    width: 100%;
    float: left;
}
	.success {
    background: none repeat scroll 0 0 #87d37c;
    border: 1px solid #87d37c;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
}
.error {
    background: none repeat scroll 0 0 #E74C3C;
    border: 1px solid #E74C3C;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 25px;
    padding: 10px;
    width: 100%;
}
.error ol {margin-left:20px}
.error p.lnk {
	margin-top:20px;
	padding:0;

	font-size:11px
}

sup {color:#990000; font-weight: bold;}
	ul.links {
		list-style: none;
	}
	ul.links li {
		display: inline-block;
        color: #888888;
		line-height: 1.42857;
		margin-right: 5px;
	}
/* link **************************************************************************************** */
a, a:active, a:visited {
	text-decoration:none;
	outline: medium none;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
a:visited {
	border:none;
}
a {cursor:pointer;}
a:hover, .lnk a:hover{color:#7541B0;text-decoration:none;}

	
/*buttons ************************************************************************************** */
input[type="submit"],
input[type="button"],
input[type="reset"],
a.exclusive, .button , .button_large, .button_small{
	border: 1px solid #C9C9C9;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    -web-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    display: inline-block;
	font-size: 11px;
	padding: 0 11px;
	height: 40px;
    font-weight: 600;
    color: #666;
    font-size: 1em;
	line-height: 30px;
	text-align: center;
	background: none;
}
.form-consulta-home{
    border: 2px solid #8446ad !important;
    display: block !important;
    margin: 0 auto;
    padding: 10px;
    background: #8446ad!important;
    font-weight: 600;
    height: 30px;
    text-align: center;
    color: #fff!important;
    width: 100px;
}
.form-consulta-home:hover{
    border-color: #8446ad !important;
}
.error_form{ color: #D64541; font-weight: 600;}
#add-address{ border: 2px solid #8446AD; color: #8446AD; font-weight: 600; background: transparent; padding-top: 3px;}
#submitAccount{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 25px!important;
    width: 150px;
    padding-top: 2px;
}
.standard-checkout{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 25px!important;
    width: 150px;
    padding-top: 2px;
}
.standard-checkout2{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 25px!important;
    width: 220px;
    padding-top: 2px;
}
.cgv-edit{ font-weight: 300!important; font-size: 1.2em!important; text-transform: inherit;}
#submitAddress{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 25px!important;
    width: 150px;
    padding-top: 2px;
}
.alt-comprar{ font-weight: 600; color: #411E3F; text-align: left; margin-bottom: 15px; font-size: 1.4em;}
#submitGuestAccount {
    background-color: #2fbf58 !important;
    border: 1px solid #2fbf58 !important;
    color: #fff !important;
    display: block;
    float: none !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-top: 2px;
    text-align: center;
    width: 150px;
}
#continuar-comprando{
    border: 1px solid #ccc !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #666!important;
    background-color: #ddd!important;
    text-align: center;
    margin-top: 25px!important;
    padding-top: 2px;
}
.description{ display: none;}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
a.exclusive:hover, span.exclusive:hover, .button:hover, .button_large:hover, .button_small:hover{
	background: #2FBF58;
    color: #FFFFFF;
    cursor: pointer;
}

input.bt_compare {
	float: right;
    margin-left: 20px!important;
    background-color: #ddd;
    border: 1px solid #ddd!important;
    color: #666;
    font-weight: 700;
    font-size: 14px;
}
.product-container .sin-exclusive {
    background-color: #281430;
    color: #fff;
    cursor: pointer;
    display: block;
    float: none !important;
    font-family: 'Raleway';
    font-size: 1em;
    border: 1px solid #281430!important;
    font-weight: 600;
    border-radius: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 215px;
    padding:5px 0;
    height:40px;
}
.product-container .sin-exclusive:hover { background: #281430;}
.product-container .exclusive, .crosselling-button .exclusive {
    background-color: #37CC63;
    color: #fff;
    cursor: pointer;
    display: block;
    float: none !important;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: 1px solid #37CC63!important;
    font-weight: 600;
    border-radius: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 220px;
	padding:5px 0;
	height:40px;
}
.crosselling-button .exclusive span{ float: inherit!important; text-align: center;}
.product-container .exclusive span {
    float: left;
}
.old_price_home {
    display: block;
    text-align: center;
    text-decoration: line-through;
}
.product-container .exclusive em {
    color: #fff;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
    font-size: 1.5em;
    float: left;
}
.quick-view {
    display: block !important;
    margin: 15px auto 0;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    color: #666;
    background-color: #ddd;
    border-radius: 20px;
    width: 200px;
    border: 1px solid #fff;
}
.quick-view span{ font-family: "Raleway"; font-weight: 600; text-transform: uppercase; color: #666; margin-left: 7px;}
.quick-view:hover{ color: #fff!important; background-color: #8446ad;}
.quick-view:hover span{ color: #fff!important;}
span.exclusive {

}

/** carousel **/
.carousel-control {
    z-index: 150;
}
.carousel-control:hover, 
.carousel-control:focus {
	background-color: transparent!important;
	color: #7541B0;
	text-decoration: none;
}


/* form **************************************************************************************** */
form.std fieldset {
	margin:20px 0;
	border:1px solid #F2F5F8
}
select.form-control {padding-left: 7px; padding-right: 7px;}
/* table *************************************************************************************** */
table.std,
table.table_block {
	margin-bottom:20px;
	width:100%;
	background:white;
}
.lnk_more.clearfix.button {
    border: 1px solid #999;
    color: #999;
    display: block;
    font-weight: 600;
    margin: 20px auto 0;
    width: 100px;
}
.cmp_remove.clearfix.button {
    border: 1px solid #c0392b;
    color: #c0392b;
    display: block;
    font-weight: 600;
    margin: 0 auto 20px;
    width: 100px;
}
table.std th,
table.table_block th {
	background: none repeat scroll 0 0 #f1f1f1;
    font-size: 15px;
    text-align: center;
    padding: 10px 12px;
    text-transform: uppercase;
	border: 1px solid #eee;
	font-family: Raleway;
}
.cart_description > a {
    float: left;
    text-align: center;
    width: 100%;
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: #f3f3f3}
table.std  td,
table.table_block  td {
	padding:10px;
	border-right:1px solid #F2F5F8;
	border-bottom:1px solid #F2F5F8;
	vertical-align:top
}

/* BLOCK .block ******************************************************************************** */

.block {    
	background-color: #FFFFFF;
    border-radius: 5px;
    /*box-shadow: 0 1px 2px #D9DADB;*/
    margin-bottom: 20px;
}
.leo-coinslider-basic {
   width:100%;height:auto;
	
}
.leo-tab {
    margin-top: 50px;
}
.no-blockshadown {
	background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
		.block li.last {	border:none}
			.block li a {
				display:block;				 
			}
		#center_column h1 {
			font-size: 1.5em;
            padding-left: 0px;
            padding-top: 10px;
			display:block;
            font-weight: 600; text-transform: uppercase;
            font-family: "Raleway";
			padding-bottom: 20px;
            float: left;
            color: #361A39;
            width: 100%;
		}
        #center_column h1 span{ font-weight: 300; text-transform: none; color: #666; font-size: 0.75em;}
		#center_column .breadcrumb {display: none;}
		#center_column .no-border .block	{
			border:0;
		}
        #top-ventas{
            background: #1c0f29; /* Old browsers */
background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* IE10+ */
background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */
            color: #fff;
            margin-bottom: 50px;
        }
        .csoc{
              background: #1c0f29; /* Old browsers */
              background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* IE10+ */
              background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */
              color: #fff;
              float: left;
              width: 100%;
              padding-left: 10px; padding-top: 8px; padding-bottom: 8px;
              text-align: center;
            margin-bottom: 25px;
          }
        .highlight-carousel { margin-bottom: 75px;}
	
	/*tile style*/
		.

/* BLOCK .products_block *********************************************************************** */

		

/* BLOCK customer privacy ******************************************************************* */
.account_creation label{
	line-height: 15px;	
}
.account_creation input {
	float: left;
    margin-right: 5px;
}

/* BLOCK .footer_links (cms pages) ************************************************************* */
.footer_links {
	list-style-type:none;
	margin-bottom:20px;
	margin-top: 10px;
}
.footer_links li {float:left}
.footer_links li.f_right {float:right}
.footer_links li .icon {
	position:relative;
	top:6px;
	left:0
}
.footer_links  .fa {
	font-size: 16px;
	margin-right: 5px;
}
/* barre comparaison / tri ********************************************************************* */
.content_sortPagiBar {
	margin:20px 0;
}
	#center_column .sortPagiBar {
		padding:8px 10px 5px;
	}
	#center_column .sortPagiBar p {padding:0;}
	

	.sortPagiBar #productsSortForm {}
		.sortPagiBar select#selectPrductSort {
			margin:0 0 0 10px;
			color:#000;
			border:1px solid #F2F5F8
		}

	.sortPagiBar .nbrItemPage {margin-left:40px;}
	.sortPagiBar .PrductSort {float:left;}
	.sortPagiBar .nbrProduct {
		display:inline-block;
		padding:0 10px;
	}
	.selectProductSort {
		height: 36px;
		line-height: 30px;
	}
	.sortPagiBar #nb_item {border:1px solid #F2F5F8}
	#productsview {
		margin-top: 5px;
	}
		#productsview a {display: inline-block;}
		#productsview span {
			line-height: 30px;
			margin-right: 10px;
		}
		#productsview .fa {
			color: #9C9B9B;
			padding: 6px;
			margin-left:  5px;
    		border: 1px solid #CCCCCC;
    		transition: all 0.5s ease-in-out 0s;
    		-web-transition: all 0.5s ease-in-out 0s;
    		-ms-transition: all 0.5s ease-in-out 0s;
		}
		#productsview .active,
		#productsview .fa:hover {
			color: #fff;
			background-color: #ccc;
   			border: 1px solid #ccc;
		}
		.content_sortPagiBar .fa span {
			margin-left: 5px;	
		}
		
/* pagination ********************************************************************************** */
form.pagination {display:none;}

.pagination{
	margin: 0;
}
.pagination > li > span:hover,
.pagination > li > span:focus {
	background-color: #FFFFFF;
}
.pagination > li.current > span:hover,
.pagination > li.current > span:focus,
.pagination > li.current > span{
	color: #fff;
	background-color: #37CC63;
}
/* CART steps *********************************************************************** */
ul#order_step { background-color: white;
    margin: 0 0 10px 0px;
    width: 100%;
    float: left}
.subtitulo_pasos{ margin-bottom: 15px; text-transform: uppercase; float: left; width: 100%; font-weight: 600;color: #249C48; background-color: #f5f5f5; text-align: center; padding: 5px 0;}
#order-detail-content {
    margin-top: 10px;
}
.title-resumen{ text-transform: uppercase; font-weight: 600; margin-top: 20px; border: 1px solid #ccc; text-align: center; }
ul.step {
	 height: auto;
    	list-style-type: none;
}
#cart_title{ text-transform: uppercase; color: #333; padding-left: 0px!important;}
ul.step li {
    background: none repeat scroll 0 0 #f5f5f5;
    float: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
	color: #4F5050;
}
.cart_delete span {
    color: #c0392b;
}
#order_step i {
    float: left;
    font-size: 1.25em;
    margin-right: 5px;
    padding-top: 10px;
    width: 100%;
}
ul.step li a, ul.step li.step_current span, ul.step li.step_current_end span {
	display:inline-block;
	color:#fff;
	font-weight: 600;
    font-size: 0.9em;
}
ul.step li.step_current {
	color: #FFFFFF;
	background:#259F4A;
     box-shadow: 0 5px 8px #0d5e25 inset;
    -webkit-box-shadow:0 5px 8px #0d5e25 inset;
    -moz-box-shadow: 0 5px 8px #0d5e25 inset;
}
#steps-cart{ float: left; padding-left: 0; padding-right: 0;}
#table-cart{ float: left; padding:0;}
#txt-steps-cart{ float: left; padding: 0;}
ul.step li.step_current_end {
	font-weight:bold;
	background:#259f4a;
    box-shadow: 0 5px 8px #0d5e25 inset;
    -webkit-box-shadow:0 5px 8px #0d5e25 inset;
    -moz-box-shadow: 0 5px 8px #0d5e25 inset;
}
ul.step li.step_current_end span
{
	color:#fff
}
.sin-registro{
background: #1c0f29!important; /* Old browsers */
background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* IE10+ */
background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */
    padding-left: 15px!important;
    color: #fff;
}
.steps-heading{
background: #1c0f29!important; /* Old browsers */
background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* IE10+ */
background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */
    padding-left: 15px!important;
    color: #fff;
}
ul.step li.step_todo span {
	 display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
}
ul.step li.step_done {
	font-weight:bold;
	background:#37CC63;
}


/* module productcomments ********************************************************************** */
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	overflow: hidden;
	float: left;
	margin:0 1px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right;
	margin-right: 3px;
	font-size: 12px
}
.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 #ffffe0;
}
#page .rte { background: transparent none repeat scroll 0 0 }

.listcomment {
	list-style-type:none;
	margin:0 0 20px 0 !important;
}
.listcomment li {
	padding:10px 0;
	border-bottom:1px dotted #F2F5F8;
	color:#666
}
.listcomment .titlecomment {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:#333
}
.listcomment .txtcomment {
	display:block;
	padding:5px 0;
	color:#333
}
.listcomment .authorcomment {}


/* ************************************************************************************************
		HEADER
************************************************************************************************ */

	#topbar {
		background: none repeat scroll 0 0 #eee;
		color: #eee;
		font-size: 13px;
		padding: 0;
		transition: all 1s ease 0s;
			  -webkit-transition: all 1s ease 0s;
			  -ms-transition: all 1s ease 0s;
			  -o-transition: all 1s ease 0s;
	}
	#topbar .container {padding-top: 3px; padding-bottom: 3px;}
		#topbar .links a {
			background: none repeat scroll 0 0 transparent;
		    border-radius: 3px;
            color: #888888;
            font-size: 1em;
            padding: 0 8px;
            text-transform: uppercase;
        }
		#topbar .links a:hover {
			color: #6D39B5;
		}
		#topbar .links a .fa {
			margin-right: 8px;
		}
		#topbar .container {
			position: relative;
		}
		
	#header-main {
		background: #1c0f29; /* Old browsers */
background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* IE10+ */
background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */	}
		.header-wrap {
			padding-right: 215px;
			position: relative;
		}
	/*#header-main  .header-wrap > div {height: 70px; display: table; position: relative;}
	#header-main  .header-wrap > div > * {
		display: table-cell;
		vertical-align: middle;
	}*/
	#header_right {
		min-height: 0;

	}
			
	#header_logo {		
		min-height: 80px;
	}
		#header_logo img {
			
		}
	
	


/************************************************************************************************
		TOPNAVIGATION
************************************************************************************************ */
	
			

/* ************************************************************************************************
		SLIDESHOW
************************************************************************************************ */
#slideshow {
	position: relative;
}
	#slideshow .main_silde{}
		


	
/* ************************************************************************************************
		PROMOTE TOP
************************************************************************************************ */

/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */	
	
		.breadcrumb {
	    color: #8446AD;
        font-size: 0.9em;
        background: transparent;
        }
		.breadcrumb .navigation-pipe {margin:0 3px 0 5px; position: relative; color: transparent;}
		.breadcrumb .navigation-pipe:before {
			content: "/";
			width: 6px;
			position: absolute;
			height:12px;
			color: #999;
		}
/**************************************************************************************************
		CENTER
**************************************************************************************************/

.maincontainer  {
	background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* sidebar */
		.column ul {
			list-style: none;
		}
			.column .bullet > li:first-child a {
				border-top: 0;
			}
			.column .bullet  li a {
				background: url("../img/default/arrow-li.png") no-repeat scroll 0 13px;
				padding: 7px 0 5px 20px;
				-webkit-transition: none;
				transition: none;
			}
			.column .bullet  li a.selected,
			.column .bullet  li a:hover {
				color: #8446AD;
				background-position: 0 -37px;
			} 
			.column .bullet  li .icon {
				display: none;
			}
				.column .bullet  li  ul li {
					padding-left: 15px;
				}
				.column .bullet  li  ul li  ul li{
					padding-left: 15px;
				}	
				
	
	.sidebar .block .title_block {
		background: none repeat scroll 0 0 #FDFDFD;
		border-bottom: 1px solid #F2F5F8;
		border-radius: 4px 4px 0 0;
		font-family: Raleway;
		font-size: 23px;
		line-height: 33px;
		padding: 10px 20px;
	}
	.sidebar .block .block_content {
		padding: 15px 20px;
	}
		.sidebar .block h4.media-heading {
			font-size: 14px;
			font-family: Raleway;
			text-transform: none;
		}
	.sidebar .block dt {font-weight: normal;}

	.sidebar p.lnk {
		 padding: 0;
    	text-align: right;
    	font-weight: bold;
	}
	.products_block .s_title_block {height: 25px; overflow: hidden; font-size: 14px}
	/*maincontainer */
	
		
/* ************************************************************************************************
		BOTTOM
************************************************************************************************ */

#bottom {}

/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
	#footer {
    background-color: #292929;
    background-image: url("../img/bg_footer.jpg");
    background-position: left center;
    background-size: cover;
    color: #f5f5f5;
    }
	#footer .title_block ,
	#footer .title_block  a {
		font-size:18px;
		color:#fff;
		padding: 0 0 18px;
	}
	/*link*/
		#footer  ul {list-style: none;}
		.link a{
			background: url("../img/default/circle-li.png") no-repeat scroll -10px 12px transparent;
			display: block;
			padding: 7px 0;
		}
		.link a:hover {
			background-position: 5px 12px;
			padding-left: 20px;
		}
/* copyright */
#footer-bottom .container-inner {
    border-top: 1px solid #7f6381;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 30px;
}
#footer-bottom .copyright  a{
	color: #E76D66
}
/* ************************************************************************************************
		PRODUCT PAGE
************************************************************************************************ */

/* BLOCK idTabs ******************************************************************************** */
.idTabs {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: -1px;
}
ul.idTabs li {
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 0;
}
ul.idTabs li:first-child {
    overflow: hidden;
}
.idTabs a {
	display:block;
	padding:15px 20px;
	font-weight:300;
	text-decoration:none;
	color:#3E3D39;
	font-family: 'Raleway';
	font-size: 18px;
	transition: none;
	background: #fff;
}
.idTabs a:hover {
	background-image: url("../img/bg-ficha.png"); background-repeat: repeat;
    color: #8446ad;
    font-weight: 300;

}
.idTabs .selected {
    background-image: url("../img/bg-ficha.png"); background-repeat: repeat;
    border-left: 1px solid #ddd;
    border-top: 4px solid #8446ad;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}
.idTabs a.selected:hover { font-weight: 700; }

#more_info_sheets {
    background-image: url("../img/bg-ficha.png"); background-repeat: repeat;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #ffffff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #ffffff, 0 7px 0 rgba(0, 0, 0, 0.2), 1px 20px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #ffffff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #ffffff, 0 7px 0 rgba(0, 0, 0, 0.2), 1px 20px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #ffffff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #ffffff, 0 7px 0 rgba(0, 0, 0, 0.2), 1px 20px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    padding: 26px;
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 10px;
  margin: 0;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #eee;

}
blockquote strong {
    font-weight: 300;
}
blockquote:before {
    color: #ccc;
    content: "“";
    float: left;
    font-family: Georgia,serif;
    font-size: 60px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: -8px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {margin-left:20px}
#more_info_sheets em {font-style:italic}
#more_info_block  .rte
{
	margin-top:0;
}

/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {margin-left:0px}

.block_hidden_only_for_screen {display:none}


/* ************************************************************************************************
		PAGE AUTHENTIFICATION
************************************************************************************************ */



/* ************************************************************************************************
		PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** 
#order #left_column , #order-confirmation #left_column {display:none}
#order #center_column, #order-confirmation #center_column{width:757px}
*/
.cart_navigation {margin:20px 0}
.cart_navigation .exclusive,
.cart_navigation .exclusive_large {
	float:right
}

/* step 1 - cart ******************************************************************************* */
.cart_last_product {display:none}

/*p.cart_navigation .multishipping-button { margin-right: 10px }*/

table#cart_summary  td {
	padding:6px;
	vertical-align:top
}
table#cart_summary  td.cart_delete,
table#cart_summary  td.price_discount_del {text-align: center}

table#cart_summary tr.customization.odd {
	background-color: #fff
}
table#cart_summary tr.customization.even {
	background-color: #f3f3f3
}

table#cart_summary tr ul {
	list-style: none;
}
table#cart_summary .cart_product {
	width:15%;
	text-align:center
}
table#cart_summary  .cart_product  img {}
table#cart_summary .cart_description {
	
}
table#cart_summary .cart_description .s_title_block {padding-bottom: 5px; text-align: center;}
table#cart_summary .cart_description .s_title_block a {font-size: 14px; height: 16px;}
table#cart_summary .cart_unit {text-align: center}
table#cart_summary td.cart_unit {text-align: right}
table#cart_summary  .cart_quantity { width:55px }
table#cart_summary .customization .cart_quantity {padding: 8px 12px 0;}
.cart_quantity .cart_quantity_input {
	float:left;
	margin-left: 5px;
	width: 20px;
    margin-top: 5px;
	border:1px solid #fff
}
.cart_quantity .cart_quantity_button {
	float:left;
	position: relative;
	top: -5px
}
.cart_delete a {color:#999;}
.cart_delete a:hover{color:#c0392b;}
.cart_quantity_up {line-height: 10px;}
table#cart_summary .cart_total {width:20%;text-align: center}
table#cart_summary td.cart_total {text-align: right}
table#cart_summary .cart_delete {
	width:150px;
	text-align:center
}
table#cart_summary .cart_discount_price {text-align: right}

#customer_cart_total  td.price{
		width:40%;
		border-left:1px solid #F2F5F8;
		font-size: 17px;
	
}

.cart_total_price .total_price_container {
	border-right:none;
}

.cart_voucher p { 
	display: inline-block;
    margin-right: 5px;
    vertical-align: top;
	padding: 0;
}
.cart_voucher p.s_title_block {
	margin-top: 5px;
		
}
.cart_voucher .title_block, .cart_voucher h4 {
	margin-right:12px;
	padding:5px 0;
	font-size:13px
}
.cart_voucher #display_cart_vouchers {
	clear:both;
	line-height: 16px;
	color:#666;
	padding-top:2px;
	font-weight:normal;
	border-top:1px dotted #F2F5F8
}
.cart_voucher #display_cart_vouchers .title_offers {margin-top:10px}
.cart_voucher #display_cart_vouchers span {font-weight:bold}

#cart_summary .price {
	font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
}
.total_price_container p {text-align: left}

table#cart_summary .cart_total_price .total_price_container {
	padding:0;
}
.cart_total_price .total_price_container p {
	display:block;
	padding:8px;
	font-weight:700;
    text-align: center;
	color:#555;
	text-transform:uppercase;
}
.cart_total_price .total_price_container span {
	display:block;
	padding:5px;
	font-weight:bold;
	font-size:24px;
	text-align:center;
    border:1px solid #8446AD;
    color: #8446AD;
}

#order_carrier {
	clear:both;
	margin-top:20px;
	border:1px solid #999;
	background:#fff
}
#order_carrier .title_block  {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
	display:block;
	padding:15px;
	font-weight:bold
}
.order_delivery .first_item {}
.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088CC;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */
#cart-buttons{ float: left; width: 100%;}
#button_order_cart{
    background-color: #2FBF58;
    border: 1px solid #2FBF58 !important;
    color: #fff;
    margin: 10px auto 0;
    float: none!important;
    display: block;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 600;
    height: 40px;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 0px!important;
    width: 175px;
}
#button_order_cart:hover{background-color: #2FBF58; color: #fff;}

#submitAccount:hover{background-color: #8446ad; color: #fff;}
#SubmitCreate{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 25px!important;
    width: 250px;
    float: right;
    padding-top: 2px;
}
#SubmitCreate:hover{background-color: #8446ad; color: #fff;}
#submitMessage{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 13px!important;
    width: 150px;
    float: right;
    padding-top: 2px;
}
#submitMessage:hover{background-color: #8446ad; color: #fff;}
#SubmitLogin{
    border: 1px solid #2FBF58 !important;
    font-family: 'Raleway';
    font-size: 1em !important;
    font-weight: 600;
    height: 39px !important;
    letter-spacing: 1px;
    color: #fff!important;
    background-color: #2FBF58!important;
    text-align: center;
    margin-top: 13px!important;
    width: 150px;
    float: right;
    padding-top: 2px;
}
#SubmitLogin:hover{background-color: #8446ad; color: #fff;}
#login_form p.submit {
	float:right;
    width: 100%;
	margin-right: 10px;
}
#authentication #create-account_form fieldset,
#authentication #login_form fieldset {
	border: 1px solid #D6D1CC;
}

#authentication #create-account_form .form_content,
#authentication #login_form .form_content {
	padding:5px 12px 12px;
	min-height: 190px;
}
#create-account_form .title_block  {
	padding-bottom:20px;
	font-size:16px;
	color:#808181;
}
.lost_password {
	float:left;
}
.lost_password a {line-height: 28px;}

#order-opc .lost_password {
	float:none;
	font-size:11px;
}

#ordermsg p {padding-bottom:0}
#ordermsg p.txt {
	float:left;
	margin:0px 25px 10px 0px;
}
/*#ordermsg .textarea {float:right}*/
#ordermsg .textarea textarea {
	height:90px;
	width:99%;
	border:1px solid #F2F5F8
}

/* step 3 - address ************************************************************************** */
.order_delivery {
	margin-top: 20px;
}
.address-form-multishipping { padding: 10px 0px; }
#multishipping_mode_box {
	border: 1px solid #D0D3D8;
	background: url("../img/form_bg.jpg") repeat-x scroll left top #D0D1D5;
	margin-bottom: 10px;
	padding: 5px;
}
#multishipping_mode_checkbox {
	vertical-align: middle;
	margin-right: 5px;
}
#multishipping_mode_box.on {
	border: 1px solid #ddd;
}
#multishipping_mode_box .title {
	padding: 5px;
	font-weight: bold;
}
#multishipping_mode_box .description, #multishipping_mode_box .description_off {
	padding: 5px;
}
#multishipping_mode_box .description_off {
	display: none;
	padding: 5px;
}
#multishipping_mode_box .description_off div {
	margin-bottom: 10px;
}
#multishipping_mode_box .description_off a, #multishipping_mode_box .description a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #F2F5F8;
	background: #ddd;
}
#multishipping_mode_box .description_off a:hover, #multishipping_mode_box .description a:hover {
	background: #f3f3f3;
	border: 1px solid #F2F5F8;
}
#multishipping_mode_box.on .description_off {
	display: block;
}


/* step 4 - paiement ************************************************************************** */

#order .delivery_option_radio, #order-opc .delivery_option_radio {
	float: left;
	margin: 21px 0;
}
#order .delivery_option label, #order-opc .delivery_option label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}

#order .delivery_option.item, #order-opc .delivery_option.item {}
#order .delivery_option.alternate_item, #order-opc .delivery_option.alternate_item {
	background: #fff;
}

.delivery_option_logo {
    float: left;
    width: 200px;
}
.resume.col-sm-12 td{ float: left; width: 300px}
.order_carrier_content {
	padding:10px;
	margin-top:20px;
	font-size:12px;
	margin-bottom: 10px;
}
.delivery_option_title{
    font-family: 'Raleway';
    font-size: 16px;
}
.delivery_option_delay {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}
.delivery_option_best {
    font-family: 'Raleway';
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 300;
}
.order_carrier_content h3.carrier_title { margin-top:0}
.order_carrier_content input {
	position:relative;
	margin-top: 0;
}
.order_carrier_content h3
{
	margin-bottom:10px;
}
.delivery_options_address {
	border:1px solid #F2F5F8;
	border-radius: 3px;
	margin-bottom: 20px;
}
.delivery_options_address h3 {
	background: #FDFDFD;
	padding:3px 10px;
	font-size: 16px;
	border-bottom: 1px solid #F2F5F8;
}
.delivery_option {

	border-bottom: 1px solid #F2F5F8;
}
.delivery_options > .delivery_option:last-child {border-bottom: 0;}
#carrierTable {
	border:1px solid #D6D1CC;
	border-bottom:none;
	background:#fff
}

#carrierTable tbody{
	border-bottom:1px solid #D6D1CC;
}

#gift_div {
	display:none;
	padding-bottom:10px
}
#gift_div label {
	display:block;
	margin-bottom:5px
}


a.iframe {font-weight:bold; font-size: 1.2em;}

.hook_extracarrier {
	margin-top: 5px;
	padding: 5px;
}

/* step 5 - paiement ************************************************************************** */
.paiement_block {
	display: block;
	clear: both;
}

.payment_module {
	position:relative;
	padding-top:20px;
	text-transform:uppercase;
}
.payment_module a {
    color: #492b5f;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: none !important;
}
.payment_module a:hover{ text-decoration: underline;}
.payment_module img {
	float:left;
	margin-right:10px
}
.payment_module span {
    overflow: hidden;
    display: block;
}

.payment_module:before,
.payment_module:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.escoger-pago {
    color: #50316a;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}
.payment_module:after {clear: both}
.payment_module {zoom: 1}


/* ************************************************************************************************
		PAGE ORDER-OPC
************************************************************************************************ */
/*#order-opc h2 {
    border-top: 1px dashed #ccc;
    color: #666;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-top: 50px;
    text-transform: uppercase;
}
#order-opc h2 span {
	background: none repeat scroll 0 0 #8446ad;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    padding: 1px 12px;
    width: 40px;
}*/

#order-opc #login_form fieldset {
	background: none repeat scroll 0 0 #FFFFE0;
	border: 1px solid #E6DB55;
	font-size: 13px;
	margin: 0 0 10px;
	padding: 10px;
}
#order-opc #login_form fieldset p a {padding:0}

#order-opc #new_account_form p.opc-required {margin-left:20px}

#order-opc .addresses {margin-bottom:20px}


 .delivery_option_carrier tr td {
	padding: 5px;
}
.delivery_option_carrier.selected {
	display: table;
}
.delivery_option_carrier.not-displayable {
	display: none;
}
.delivery_option_title {
	font-weight: bold;
}


/* ************************************************************************************************
	express checkout
************************************************************************************************ */
#new_account_form {clear:both;margin-bottom: 20px}
#new_account_form h3 {
	margin-bottom:20px;
	padding:8px;
	border-bottom:1px solid #F2F5F8;
	background: #FDFDFD;
}

#new_account_form #submitGuestAccount {float: right}

#form_forgotpassword  fieldset {
	padding: 20px;
}

/* ************************************************************************************************ */

/* ************************************************************************************************
		paiment - CONFIRMATION
************************************************************************************************ */

/****/

/* ************************************************************************************************
		PAGE PASSWORD
************************************************************************************************ */


#password .icon {
	position:relative;
	top:6px;
}


/* ************************************************************************************************
		PAGE ADRESSES
************************************************************************************************ */


/* ************************************************************************************************
		PAGE ADD ADRESS
************************************************************************************************ */
/**/
#add_adress {}


#center_column #add_address p {margin:0; padding:0 0 10px 0}
#add_address p.required {color:#222}
#add_address p.required  sup {color:#990000}



/* ************************************************************************************************
		PAGE ORDER-SPLIP
************************************************************************************************ */

/**/
#order-slip #order-list {border-bottom:1px solid #D6D1CC}
#order-slip #order-list td {
	border-top: 1px solid #F2F5F8;
	border-bottom:none
}
#order-slip #order-list td.history_invoice {border-right:none}


/* ************************************************************************************************
		PAGE DISCOUNT
************************************************************************************************ */

#discount .table_block tr.last_item td {border-bottom:1px solid #999}
#discount .table_block td.discount_expiration_date {border-right:1px solid #999}
#discount .table_block td.discount_value {white-space:nowrap}


/* ************************************************************************************************
		PAGE ORDER FOLLOW
************************************************************************************************ */



/* ************************************************************************************************
		PAGE NEW-PRODUCTS
************************************************************************************************ */
#newproducts .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE BEST SALES
************************************************************************************************ */
#bestsales .sortPagiBar {margin-bottom:20px}

/* ************************************************************************************************
		PAGE PRICES DROP SALES
************************************************************************************************ */
#pricesdrop .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE MANUFACTURER && PAGE SUPPLIER
************************************************************************************************ */
.nbrmanufacturer {
	font-size: 13px;
}

.box-item {
	border-top: 1px solid #F3F3F3;
}
.box-item:first-child {
	border-top: 0
}
.box {
	position: relative;
}
.box-item > .box:before {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 16%, #e3e3e3 53%, #ffffff 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ffffff), color-stop(53%,#e3e3e3), color-stop(83%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 16%,#e3e3e3 53%,#ffffff 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 16%,#e3e3e3 53%,#ffffff 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 16%,#e3e3e3 53%,#ffffff 83%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 16%,#e3e3e3 53%,#ffffff 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
}
.box-content {
	padding: 10px;
}

.box-content .name {
	display: block;
    /*font-family: Raleway;*/
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
}

.box .description {
	max-height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
}
.description_box {
	padding: 10px;
}
.description_box .lnk_more {
	background: url("../img/default/circle-li.png") no-repeat scroll right center;
    color: #E76D66;
    display: inline-block;
    margin-top: 10px;
    padding: 0 10px 0 0;
}



/* ************************************************************************************************
		PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
	margin:0 0 10px 0;
	padding:5px 10px 5px 10px;
	border:1px solid #e6db55;
	font-size:13px;
	background:#ffffe0
}


/* ************************************************************************************************
		PAGE 404
************************************************************************************************ */
#pagenotfound h3 {
	font-weight:normal;
	font-size:14px
}
#pagenotfound fieldset {border:none}
#pagenotfound fieldset label {color:#333}

#pagenotfound .button_small {
	color: #FFFFFF;
    height: 26px;
    padding: 5px 10px;
    text-transform: uppercase;
}
#pagenotfound .pagenotfound a {
	font-weight:bold;
}
#pagenotfound .pagenotfound .icon {
	position:relative;
	top:3px
}

#pagenotfound .pgfound {
	display: block;
	text-align: center;
}
/* ************************************************************************************************
		addons payment cheque
************************************************************************************************ */

/**/

/* ************************************************************************************************
		addons payment bankwire
************************************************************************************************ */
#module-cheque-payment h2 {
	border-bottom: 1px dashed #F2F5F8;
    font-size: 20px;
    padding: 0 0 10px;
	margin-top: 10px;
}
/* ************************************************************************************************
		addons google checkout
************************************************************************************************ */


#module-bankwire-payment h2 {
	border-bottom: 1px dashed #F2F5F8;
    font-size: 20px;
    padding: 0 0 10px;
	margin-top: 10px;
}

/* ************************************************************************************************
		addons paypal
************************************************************************************************ */



/* ************************************************************************************************
		addons cashondelivery validation
************************************************************************************************ */



/* ************************************************************************************************
		addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {padding:10px !important}
#account-creation_form fieldset.reversoform  .text label{
	display:block;
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
}
#account-creation_form fieldset.reversoform .infos-sup {
	padding:0 !important;
	font-size:10px;
	font-style:italic;
	text-align:right
}
/* ************************************************************************************************
		addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label{
	padding-bottom:0;
	font-size:14px;
	text-align:left;
	cursor:pointer
}

/* ************************************************************************************************
		addon referralprogram
************************************************************************************************ */

#footer .myaccount li.referralprogram img {display:none}

#module-referralprogram-referralprogram-program .sheets {padding-top:10px}

#module-referralprogram-referralprogram-program form p.checkbox {font-weight:bold}
#module-referralprogram-referralprogram-program form p.checkbox a {text-decoration:underline}
#module-referralprogram-referralprogram-program form p.submit {text-align:right}
#module-referralprogram-referralprogram-program form p.see_email {
	padding-left:10px;
	color: #0088cc;
	background:url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
	color: #0088cc;
	text-decoration:underline
}

/* ************************************************************************************************
		addon loyalty
************************************************************************************************ */


#product p#loyalty {
	padding:10px 0 0 20px;
	border-top:1px solid #F2F5F8;
	background:url(../img/icon/info.png) no-repeat 0 8px;
	margin-top: 10px;
}

#footer .myaccount li.loyalty img {display:none}


/* ************************************************************************************************
		addon Livezilla
************************************************************************************************ */
#livezilla_lnk  {
	margin:10px 0;
	text-align: right
}
#livezilla_lnk a {
	display:inline-block;
	padding:6px 8px 8px 8px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#fff;
	text-shadow: 0 -1px 0 #000;
	background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {text-decoration:none}

/* ************************************************************************************************
		addons comments products
************************************************************************************************ */
form#sendComment  fieldset{
	padding:10px;
	border:1px solid #F2F5F8;
	background:#eee
}
form#sendComment h3 {font-size:14px;}
#new_comment_form p.text {
	 margin-bottom: 0;
	 padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}
#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #F2F5F8;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
	height:80px;
	width:508px;
	border:1px solid #F2F5F8;
}
#sendComment p.submit {
	padding:0;
	text-align:right
}

#sendComment p.closeform {
	float:right;
	padding:0;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background:url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
	position: relative;
	top:2px;
	float: left;
	height: 12px;
	width: 12px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
.star, .star a { background: url(../img/default/star.gif) no-repeat 0 0 }
div.star_on a { background-position: 0 -12px }
div.star_hover a, div.star a:hover { background-position: 0 -12px }


/* ************************************************************************************************
		xxxxx
************************************************************************************************ */


/* ************************************************************************************************
		guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
	padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
	padding-bottom: 10px;
}



/* ************************************************************************************************
		CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/


/*************** Block CATEGORIES ***************/
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	background:url(../../../modules/blockcategories/img/icon/open-close.png) no-repeat 0 -9px;
	cursor: pointer;
    display: block;
    float: right;
    height: 9px;
    margin: 12px 0 0;
    position: absolute;
    right: 70px;
    width: 9px;
	opacity: 0.7
}
#categories_block_left li .CLOSE {background-position:0 0}
.column .bullet li a.selected .badge, .column .bullet li a:hover .badge{
    background-color: #8446AD;
}
.column li a .badge { z-index: 999;}
/* footer */
.blockcategories_footer {
	padding:15px 10px;
}
.blockcategories_footer .category_footer {float:left;clear:none;}
.blockcategories_footer ul ul {display:none !important}

/* WISHLIST *********************/
	#wishlistwraning{ display:none; position:fixed; top:250px; width:100%;  z-index:99999;  }
	#wishlistwraning .container
	{
	 background:transparent;
	 border:0
	}
	#wishlistwraning .container > .alert, .alert-content{width:35%; margin:auto}
	.alert {
		-webkit-box-shadow: 0 0 2px 2px #CE9208;
		 box-shadow:none;
		 border-radius:0;
		 color:#2E3039;
		 background:#fff;
		 border:1px solid #E5E5E5;
		 border-top:5px solid #C24913;
	}



/*************** Block CMS ***************/

  
tr.subitem > td:first-child + td {
    padding-left: 10px;
}
.cms-wrapper
{
	margin-top:20PX;
}
/*************** Block CONTACTINFOS ***************/
	#block_contact_infos li {
			padding: 7px 0; 
			-webkit-transition: all 0.3s ease-in-out 0s;
			-ms-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
	}
	#block_contact_infos li span {
		border: 2px solid #808080;
		border-radius: 50%;
		display: inline-block;
		font-size: 16px;
		height: 30px;
		line-height: 26px;
		margin-right: 10px;
		position: relative;
		text-align: center;
		width: 30px;
		box-shadow: 0 0 20px transparent inset;
		transition: all 0.4s ease-in-out 0s;
	}
	#block_contact_infos li:hover {color: #B27CD6;}
	#block_contact_infos li:hover span{border-color: #B27CD6; box-shadow: 0 0 0 #B27CD6 inset;}
	#block_contact_infos li a {display: inline-block; background: none;}
	#block_contact_infos li:hover a:hover {padding-left: 0;}


/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
.paiement_logo_block a { text-decoration: none }
.paiement_logo_block img { margin: 0 0.5em }



/*************** Block RSS ***************/
#rss_block_left p {
	margin:0;
	padding:10px;
}

#rss_block_left li {border-bottom:1px dotted #F2F5F8}
#rss_block_left li.last {	border:none;}
	#rss_block_left li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

	
/*************** Block SOCIAL ***************/
#social_block {padding:15px 10px;}
#social_block li {padding-left:22px !important;}
#social_block li.facebook {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 6px;}
#social_block li.twitter {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -26px;}
#social_block li.rss {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -56px;}


/*************** Block STORE ***************/
.blockstore img { margin: 10px 0 0 0}
.blockstore p { 
	padding-bottom:0;
	font-weight:bold;
	text-align: right
}
.blockstore p.store_image { 
	padding-bottom:10px;
	text-align:center
}


/*************** Block SUPPLIER ***************/
.blocksupplier li {border-bottom:1px dotted #F2F5F8}
.blocksupplier li.last {	border:none;}
	.blocksupplier li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
}

/** Blockcurrent ******/
	.groupe-btn {
		background: none repeat scroll 0 0 transparent;
	    border: 0 none;
	    border-radius: 3px;
	    color: #8446ad;
	    cursor: pointer;
	    font-size: 12px;
	    line-height: 19px;
	    margin-right: 5px;
	    padding: 3px 6px;
	}
/**************************************************
 PATTERN
****************************************************/
.pattern1{background:url(../img/patterns/pattern1.png);	}
.pattern2{background:url(../img/patterns/pattern2.png);	}
.pattern3{background:url(../img/patterns/pattern3.png);	}
.pattern4{background:url(../img/patterns/pattern4.png);	}
.pattern5{background:url(../img/patterns/pattern5.png);	}
.pattern6{background:url(../img/default/bg_body.jpg);}
.pattern7{background:url(../img/patterns/pattern7.png);	}
.pattern8{background:url(../img/patterns/pattern8.png);	}
.pattern9{background:url(../img/patterns/pattern9.png);	}
.pattern10{background:url(../img/patterns/pattern10.png);}
.pattern11{background:url(../img/patterns/pattern11.png);}
.pattern12{background:url(../img/patterns/pattern12.png);}
.pattern13{background:url(../img/patterns/pattern13.png);}
.pattern14{background:url(../img/patterns/pattern14.png);}
.pattern15{background:url(../img/patterns/pattern15.png);}
.pattern16{background:url(../img/patterns/pattern16.png);}

/* background color */
	.red {
		 background-color: #E76D66;
		 color: #fff;
	}
	.green {
		background-color:#95BB7A;
		color: #fff;
	}
	.blue {
		background-color: #57A6B9;
		color: #fff;
	}
	.dark {
		background-color: #7F7F7F;
		color: #fff;
	}	
	.gray {
		background-color: #F8F8F8;
		color: #6E6E6E;
	}
		.gray h3 {
			color: #282B2F;
		}
		
	.media .readmore a {
		background: url("../img/default/circle-li.png") no-repeat scroll right center transparent;
		color: #E76D66;
		padding-right: 13px;
	}

.blocksupplier form {
	margin-top: 10px;
    text-align: center;
    width: 200px;
}
.blocksupplier p {
	padding:0;
}

.price {
	color: #333;
	font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    display: block!important;
}

.resumen-price {
	color: #555;
	font-size: 1.25em;
    font-weight: 700;
    text-align: left;
}


/* gototop*/
	#back-top {
		bottom: 10px;
		position: fixed;
		right: 2%;
		z-index: 9999;
	}
	#back-top span {
		background: url("../img/default/btn-back-top.png") no-repeat scroll 0 0;
		border: medium none;
		display: block;
		height: 25px;
		width: 35px;
	}
	#back-top span:hover {
		background-position: 0 -34px;
	}

	