#topbar {
	background: #3fd5ae;
	color: #FFF;
	font-size: 13px;
	padding: 0;
	height:34px;
}
#topbar .container {padding-top: 3px; padding-bottom: 3px;}
#topbar .links a {
	background: none repeat scroll 0 0 transparent;
	border-radius: 3px;
	color: #FFF;
	font-size: 1em;
	padding: 0 8px;
	text-transform: uppercase;
}
#topbar .links a:hover {
	color: #FFF;
}
#topbar .links a .fa {
	margin-right: 8px;
}
#topbar .container {
	position: relative;
}

#topbar .container li#shopping_cart {
	background: none;
}

#slideshow {margin-top:20px}
		
		
	#header-main {
		background: #FFF;display:inline;float:left;width:100%;
	}
		.header-wrap {
			position: relative;
			display:inline;float:left;width:100%;padding:20px 0 0 0
		}

.header-wrap hgroup {float:right;text-align:center;color:rgba(165,123,175,1)}
		.header-wrap hgroup h2 {font-size:15px}
			.header-wrap hgroup h2 span {font-size:30px;display:block;font-weight:700}
		.header-wrap hgroup h3 {font-size:14px;font-weight:400;line-height:14px}
			
	#header_logo {		
		display:inline;float:left;width:250px;height:auto;margin:10px 0 0 0
	}
		#header_logo img {
			display:block;width:100%;height:auto
		}
		
	a.login {background:url(../img/arrow.png) 100% 50% no-repeat !important;padding-right:20px !important}
	
	.navbar {clear:both;display:inline;float:left;margin-top:-1px;width:100%;}
	
	#leo-top-menu {display:table; background:white; border-right: 1px solid white;}
	
	#cavas_menu {
		background-color: transparent;
		border:0 !important;
		border-radius: 0;
		margin: 0 !important;
		padding:0 !important;
		display:inline;float:left;clear:both;
	}
	
	#topnavigation .row,#footer .row {margin:0 !important}
	
	#cavas_menu ul {display:inline;float:left;margin:0 !important}
		#cavas_menu ul li {float:left;}
		
			#cavas_menu ul li a:link,#cavas_menu ul li a:active,#cavas_menu ul li a:visited {border:0;color:#999;font-size:13px;font-family: 'Raleway';text-transform: uppercase;
																									line-height:45px;display:block;padding:0 !important;margin:0 30px 0 0;width:100%}
			#cavas_menu ul li a:hover,#cavas_menu ul li a:span {border:0 !important;color:#999 !important;background:none !important}
	
	
	#header_nav_cart {width:45px;height:45px;overflow:hidden;background:#FFF url(../img/cart.png) 100% 0 no-repeat;float:right;position:absolute;right:0;top:144px;z-index:1001;}
		#header_nav_cart a {text-indent:-999em;}
		
	#page {padding-top: 193px;}	
			
/* CAJA BUSCADOR */
/* block top search */
#search_block_top {
	position: absolute;
    left:50%;
    width:500px;
	margin:0 0 0 -250px;
	top: 60px;
	z-index: 10;
	background:#f2f2f2;
	border-radius:20px;
	height:50px;
}
#searchbox  .button {
    background: url("../img/lupa.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    height: 30px;
    padding: 0;
    text-indent: 999px;
    width: 30px;
	border-color: transparent;
	position: absolute;
	right:15px;
	top: 10px;
	overflow: hidden;
	border:none!important;
}

.showrwd{display:none}

.navbar-nav {background:#FFF}

#search_query_top {padding:0 25px;background:none !important;border:0 !important;box-shadow:none !important;width:100%;height:50px;font-family: 'Raleway', sans-serif;font-style:italic}

/* Carrito */

.ico_cart_amount{top: 0;right: 0;width: 17px;height: 17px;color: #fff !important;font-size: 12px;font-weight: 500;text-align: center;position: absolute;
				    border-radius: 50%;margin:0 !important;font-family: Roboto,sans-serif;background-color: #3fd5ae;}

#cart-buttons {margin-top:0;} 
#button_order_cart {margin-top: 0; background-color: #3fd5ae; border: 1px solid #3fd5ae !important;}
#button_order_cart:hover {margin-top: 0; background-color: #3fd5ae; border: 1px solid #3fd5ae !important;}

#cart_block #cart-prices {padding: 10px 4px;line-height: 40px;float: left;width: 100%;color: #666;}
/* 3 BOTONES DERECHA SLIDER */

ul.botones_derecha {display:inline;float:left;width:100%;padding-left:20px}
	.botones_derecha li {display:block;width:100%;border-radius:20px;background:rgba(165,123,175,0.7);text-align:center;font-size:18px;font-weight:500;line-height:110%;
		color:#FFF;height:80px;padding:21px 0 0 0}
		.botones_derecha li:nth-child(2) {margin:15px 0}
		.botones_derecha li span {font-weight:300;display:block;font-size:16px}

/* LOGO SENNHEISER */
.sennheiser {
	display: none;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}
.sennheiser img {
	width: 100%;
	max-width: 150px;
	height: auto;
}
.cat8 .sennheiser {
	display: block;
}
.cat8.product .sennheiser {
	display: none;
}
		
/* PRODUCTOS INDEX */

.product_image {border:1px solid rgba(165,123,175,0.7) !important;border-radius:5px !important;}

.product_block .name {text-align:left;font-size:18px; height:3.5em;}
.product_block .name a {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 26px; max-height: 52px;}
	.name a:link,.name a:active,.name a:visited,.name a:hover {color:#999999}

.rating_box {float:left;padding:8px 0;width:72px}
	.rating_box .fa-star-o {color:#3fd5ae}
	.rating_box .fa-star {color:#3fd5ae}
	.rating_box .fa-star-half-o {color:#3fd5ae}

.content_price {text-align:right;float:right;}
	.price {font-size:18px;line-height:30px;color:rgba(165,123,175,1);font-weight:normal;font-family:"Montserrat",sans-serif}
	
	.products-item > .product_block:before {background:none !important}
	
.masresultados {display:block;width:100%;clear:both;text-align:center;background:url(../img/linea.png) 50% 50% repeat-x}
	.masresultados span {border-radius:10px;background:#3fd5ae url(../img/arrowd.png) 92% 50% no-repeat !important;color:#FFF;display:inline-block;padding:5px 35px 5px 15px;}
	
/* CABECERA BLOG */

.cabecerablog {display:inline;float:left;width:100%;clear:both;}
	.cabecerablog h2 {text-align:center;font-weight:600;font-size:21px;color:rgba(165,123,175,0.7);margin:0 0 5px 0}
	.cabecerablog p {text-align:center;font-weight:300;font-size:16px;color:#808080;padding:0 50px 10px}

	
	/* FOOOTER */
	
	#footer 
	{
		background: url(../img/footer1.png) 0 0 repeat-x, url(../img/footer2.png) 0 100% repeat-x;
		margin:0 !important
	}

		.contacto_mobile {top: -3em;margin-top:2em;position: relative;float: left;display: none;width: 100%;
							text-align: center;color: #7a4a93;background: #e6e6e6 url(../img/group.png) 50% -0 no-repeat;padding: 20px 0;}
		.contacto_mobile h2 {font-size: 15px;}
		.contacto_mobile span {display: block;font-size: 30px;font-weight: 700;}

		/*#footer .row {margin:0 -20px !important}*/
		#footer .blocks-wrap {padding:0 !important;margin:0;}

	
		/* Ultima modificacion santi*/
		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5){
			/*background-color: blue !important;*/
			width: 45% !important;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .block_content{
			width: 40%;
			float: left;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas{
			width: 60%;
			float: right;
			padding: 10px;
			border: 2px solid #C0A1C7;
			border-radius: 16px;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas .title_empresas{
			background: url('../img/icon-empresas.png') -5px 50% no-repeat;
			padding-left: 50px;
			height: 39px;
			border: 0;
			margin-bottom: 16px;
			font-size: 20px;
			line-height: 2;
			padding-right: 0;
			font-style: normal;
			color: #5AD5AC;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas p{
			border: 0;
			font-style: normal;
			padding-right: 0;
			color: #333333;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas p:nth-child(2){
			font-weight: bold;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas p a{
			font-weight: bold !important;
			color: #333333;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(6){
			/*background-color: red !important;*/
			width: 50%;
			float: right;
			height: 82px;
			padding-top: 40px;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(6) .metodos{
			border: 0 !important;
			text-align: right;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(6) .metodos p{
			display: inline-block !important;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(6) .metodos ul{
			display: inline-block !important;
			vertical-align: bottom;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(6) .metodos ul li{
			margin: 0 0.4em;
			color: transparent !important;
		}

		footer #lofadva-pos-3 .blocks-wrap div:nth-child(7){
			/*background-color: green !important;*/
			width: 50%;
			float: left;
		}

		/* FIN ULTIMA MODIFICACION SANTI*/

		
		#lofadva-pos-1 {padding:0 !important;margin:0 !important}

		#lofadva-pos-1 {width:100%; float:left;}
			#lofadva-pos-1 #newsletter_block_left {width: calc(100% - 14em);;float:left;}
			#lofadva-pos-1 .blog_escritorio {width:6em;float:left;}
				#lofadva-pos-1 .blog_escritorio a {color: #FFF;}
			#lofadva-pos-1 .siguenos {float:right;}
				#lofadva-pos-1 .siguenos a {color: #FFF;}
		#lofadva-pos-3 {width:100%; float:left;}
			#lofadva-pos-3 div:nth-child(2) {width:35%;float:left;}
			#lofadva-pos-3 div:nth-child(3) {width:20%;float:left;}
			#lofadva-pos-3 div:nth-child(5) {width:20%;float:left;}
			#lofadva-pos-3 div:nth-child(6) {width:25%;float:left;}
		
		#newsletter_block_left {padding:10px 0 0 0 !important;margin:0 !important}

		.col-xs-12 {padding: 0;}
		
		
		#newsletter_block_left p {font-size:15px;color:#FFF;line-height:40px;padding:0 !important}
			#newsletter_block_left p span {float:left;font-weight:400}
			#newsletter_block_left .inputNew {width:280px !important;height:40px !important;margin:0 0 0 15px !important;border:0 !important;display:block;font-style:italic;color: #666 !important;}
			#newsletter_block_left .button_mini {width:140px !important;height:40px !important;margin:0 !important;border:0 !important;padding:0 !important;
				background:rgba(190,160,197,1);display:block;}
	
		.siguenos {text-align:right;line-height:60px;color:#FFF !important;font-weight:400;text-transform:uppercase;padding:0 !important;font-size:12px}
			.siguenos span {width:42px;height:60px;display:inline-block;overflow:hidden;background:url(../img/googleplus.png) 0 50% no-repeat;
								vertical-align:middle;text-indent:999em !important;}

		.blog_botoncito {text-align:right;line-height:60px;color:#FFF !important;font-weight:400;text-transform:uppercase;padding:0 !important;font-size:12px}
			.blog_botoncito span {width:42px;height:60px;display:inline-block;overflow:hidden;background:url(../img/icono_rss-01.png) -5px 50% no-repeat;vertical-align:middle;text-indent:999em !important;margin-right:10px}
	
		#lofadva-pos-3 {padding:30px 0 !important;margin:0 !important;}
			#lofadva-pos-3 p, #lofadva-pos-3 h1, #lofadva-pos-3 h2 {font-size:12px;color:#999999;border-right:1px solid #999;padding:0 30px 0 0;text-align:justify;font-style:italic}
				#lofadva-pos-3 p strong {display:block;font-style:normal}
				#lofadva-pos-3 h1, #lofadva-pos-3 h2  { font-weight: 800; }
				
			li.link {font-size:12px;color:#999999;padding:0 0 0 20px !important;margin:0}
				.link a:link,.link a:active,.link a:visited,.link a:hover {padding:3px 0 !important;background:none !important;color:#999 !important;display:inline}
				
		.metodos {border:1px solid #999;border-radius:20px;padding:0 5px}
			.metodos p {text-align:right !important;padding:10px !important;font-style:normal !important;font-size:15px !important;font-weight:400 !important;border:0 !important}
			
			.metodos li {float:left;display:block;height:40px;overflow:hidden;text-indent:-999em}
				.metodos ul {
								display: -webkit-box !important;
  								display: -moz-box !important;
								display: -webkit-flex !important;
								display: -ms-flexbox !important;
								display: box !important;
								display: flex !important;
								-webkit-box-pack: distribute;
								-moz-box-pack: distribute;
								-o-box-pack: distribute;
								-ms-flex-pack: distribute;
								-webkit-justify-content: space-around;
								justify-content: space-around;
				}
				.tarjv {background:url(../img/visa.png) 0 50% no-repeat;width:40px;background-size:contain;}
				.tarjm {background:url(../img/mastercard.png) 0 50% no-repeat;width:41px;background-size:contain;}
				.tarja {background:url(../img/american.png) 0 50% no-repeat;width:31px;background-size:contain;}
				.tarjr {background:url(../img/icono_contrar.png) 0 50% no-repeat;width:41px;background-size:contain;}
				.tarjp {background:url(../img/paypal.png) 0 50% no-repeat;width:74px;background-size:contain;}
	
		#lofadva-pos-4 {height:40px !important;margin:0 !important;padding:0 !important}
			#lofadva-pos-4 p {line-height:40px;font-size:11px;margin:0 !important;padding:0 !important}
			.dinamic {height:40px;width:50px;background:url(../img/dinamic.png) 100% 50% no-repeat;text-indent:-999em;display:block;float:right}
		#lofadva-pos-4 {display: -webkit-inline-box;-webkit-transform: translateX(-50%);transform: translateX(-50%);position: relative;left: 50%;}
		#lofadva-pos-4 a {position: absolute;right: 10px;top: 0;}

		.blog_reducido {display:none;width: 100%;background-color: rgba(165,123,175,0.7);color:#eeeeee;margin-top:4px;}
			.blog_reducido .blog_botoncito {font-style:normal;}
		.followus_mobile {display:none;width: 100%;background-color: rgba(165,123,175,0.7);color:#eeeeee;}
			.followus_mobile .siguenos {font-style:normal;}
			
			
/* ETIQUETA DESCUENTO EN PRODUCTOS */
.product-container span.hot {top:0 !important;border-radius:0 4px 0 4px;background:rgba(165,123,175,0.7) !important }

.box-content .name { font-family:Raleway,sans-serif !important}

#bt_compare_bottom,#bt_compare {display:none;}

/* PAGINACION */
li.current span {background:rgba(165,123,175,0.7) !important}

/* MIGAS */
.breadcrumb {font-size:15px !important; margin: 10px 0 10px 0;}


/* FICHA PRODUCTO */

#image-block {border:1px solid rgba(165,123,175,0.7);border-radius:4px;margin:40px 0 0 0 !important}

#thumbs_list {width:288px;}
	#views_block li {margin:0 6px 0 0}
	#views_block li a {border:1px solid rgba(165,123,175,0.7);border-radius:4px}

/*Estilo de santi solo para */
.bloque_titulo_mobile{
	display: block;
}

.antiguo{
	display: none !important;
}

@media screen and (max-width: 960px){
	.bloque_titulo_mobile.col-lg-8 .content_prices.add_cart_mobile {
	    display: none !important;
	}
}

@media screen and (min-width: 961px){
	.bloque_titulo_mobile.col-lg-8 {
		overflow: auto;
	    float: right;
	    margin-left: 20px;
	    margin-right: 20px;
	    width: calc(66.666666666667% - 40px);
	    border: 1px solid rgba(165,123,175,0.7);
	    border-radius: 15px;
	}

	.bloque_titulo_mobile.col-lg-8 .price.precio-line {
		position: absolute;
	    right: 0px;
	    float: right;
	    width: 35%;
	    text-align: right;
	    padding: 20px;
	}

	.bloque_titulo_mobile.col-lg-8 #product_reference {
	    padding: 0 20px;
	    float: left;
	    width: 60%;
	}

	.bloque_titulo_mobile.col-lg-8 .rating_trustivity {
	    margin: 0 0 0 20px;
	    clear: both;
	}

	.bloque_titulo_mobile.col-lg-8 .content_prices.add_cart_mobile {
	    display: block;
	    float: none;
	}

	.bloque_titulo_mobile.col-lg-8 .content_prices.add_cart_mobile #add_to_cart {
	    text-align: center;
	    padding-left: 20px;
	    padding-right: 20px;
	    width: 100%;
	    margin-top: 0;
	    padding: 0 20px;
	}
}

@media screen and (min-width: 1301px){
	.bloque_titulo_mobile.col-lg-8{
		margin-top: 40px;
	}
}
/* Fin estilo santi */

.bloque_titulo {border:1px solid rgba(165,123,175,0.7);border-radius:4px;margin:20px 0 0 0 !important;display:inline;float:left;width:100%}
	.title-product {color:#999 !important;margin:20px 20px 0 20px;font-weight:400 !important;font-size:30px !important;float:left;width:70% !important;line-height:30px !important}
	
	.bloque_titulo .price {float:right;width:35%;text-align:right;padding:20px}
	.precio-line {border:0 !important;margin:0 !important}
		.our_price_display {text-align:right;font-size:36px;font-family:Montserrat,sans-serif;font-weight:normal;color:#3fd5ae;line-height:44px}
		#old_price_display {text-decoration:line-through;color:#999;font-family:Montserrat,sans-serif;font-weight:normal;}
		
	.bloque_titulo #product_reference {padding:0 20px;float:left;width:60% !important;}
		.bloque_titulo #product_reference label {font-size:14px}
		.bloque_titulo .rating_box {margin: 0 0 0 20px;float: none;}
	
	
	.bloque_titulo .content_prices {border:0;padding:0 20px 20px !important;}
		.bloque_titulo .content_prices #add_to_cart {margin:0 !important;width:100%;background: #3fd5ae;border-radius:20px;}
			.bloque_titulo .content_prices #add_to_cart input {width: 100%;background: url(../img/link.png) 90% 50% no-repeat !important;line-height: 40px;margin: 0;
																border: 0 !important;text-align: center;position: relative;
																-webkit-transform: translateX(-50%);transform: translateX(-50%);left: 50%;}

#view_scroll_left, #view_scroll_right {color:#999;}

.product_description_mobile {display:none;}
#short_description_content blockquote {display:inline;float:left;width:100%;margin:20px 0;background:none !important;padding:0 !important;border:0 !important}
#short_description_content blockquote:before {display:none;}
	#short_description_content blockquote p {background:none !important;padding:0 !important}
		
.add_cart_mobile {display:none;width: 100%;height: 40px;line-height: 40px;border: 0 !important;padding:0 !important;}
		
ul.mini_botones_derecha {display:inline;float:left;width:100%;margin:20px 0 0 0}
	.mini_botones_derecha li {display:block;width:32%;border-radius:20px;background:rgba(165,123,175,0.7);text-align:center;font-size:16px;font-weight:500;line-height:110%;
		color:#FFF;padding:18px 0;float:left}
		.mini_botones_derecha li:nth-child(2) {margin:0 2%}
		.mini_botones_derecha li span {font-weight:300;display:block;font-size:14px}
		
		
	#more_info_block {}
	
		#more_info_tabs li {border:0 !important;width:33.333333%}
			#more_info_tabs li a {color:#808080;font-size:14px;text-align:center;background:none !important}
			#more_info_tabs li:nth-child(1) {background:#cccccc !important}
			#more_info_tabs li:nth-child(2) {background:#e6e6e6 !important}
			#more_info_tabs li:nth-child(3) {background:#f2f2f2 !important}
			#more_info_tabs li:nth-child(4) {background:#fafafa !important}
			#more_info_tabs li .selected {border:0 !important;background:none !important}
	
	#more_info_sheets {box-shadow:none !important;padding:20px 0 !important;background:none !important}
	
	td.category {background:rgba(165,123,175,0.7) !important}
	
	.blockleorelatedproducts h3 {background:rgba(165,123,175,0.7)!important;;color:#FFF;clear:both;}

.posts {
	margin-bottom: 80px;
	position: relative;
}

.posts .container {
	position: relative;
}

.post-card {
	width: 23%;
	height: 400px;
	display: inline-block;
	overflow: hidden;
	margin-right: 2%;
	background-color: rgba(165,123,175,0.7);
	border-radius: 15px;
	padding: 20px 1px 20px;
}

.post-card h1, .post-card h2 {
	padding: 20px 20px 10px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 600;
}

@media (min-width: 960px)
{
	.post-card h1, .post-card h2 {
    	color: white;
	}
}

.post-card p {
	padding: 0 20px 0;
	color: white;
}

.post-card .Contenido {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 1.428571429;
    max-height: 5.71428568; 
}

.post-card:last-child {
	margin-right: 0;
}

.post_card .image_blog {
	height: 10em;
    overflow: hidden;
}

.post-card img {
	height: 10em;
	position: relative;
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.post-grid {
	margin-bottom: 10px;
}

.more-posts {
	color: #808080;
	position: absolute;
	right: 20px;
	text-decoration: underline !important;
}

.more-posts:hover {
	color: #808080;
	text-decoration: underline;
}

iframe[name="google_conversion_frame"] {
	display: none;
}

#leo-top-menu .nav > li {
	margin-right: 25px;
}

#leo-top-menu .nav > li:last-child {
	margin-right: 0;
}

#image-block, .bloque_titulo {
	border-radius: 15px;
}

.bloque_titulo .price {
	position: absolute;
	right: 20px;
}

span a {color: rgba(165,123,175,1);}

#back-top {bottom: 30px;}

.category-container {height:20em;}

.white_background {background: white;}

/* ARREGLOS AL ONE STEP CHECKOUT */

#onepagecheckoutps #btn_place_order, #onepagecheckoutps #payment_modal #cart_navigation button, #onepagecheckoutps #btn_save_customer {background: #3fd5ae !important; border: none;}

#payment_method_container .payment_module {width:100% !important;}

#order-opc .blog_reducido {display: none !important;}
#order-opc .followus_mobile {display: none !important;}
#order-opc .blog_escritorio {display: none !important;}
#order-opc .siguenos {display: none !important;}
#order-opc .zopim {display: none !important;}

/* Cambios al diseño de categoria de productos */

#category #center_column {padding-right: 1em;}
#category #center_column .category-product-count {line-height: 34px;}
#category #center_column .category-product-count form {margin-left: 1em;} 
#category #center_column .ajax_block_product {width: 33%;}
#category #center_column .cat_desc {margin: 0;}
#category #center_column .botones_mobile {display:none;}

#category #right_column .botones_derecha li {width:100%;}

#category .category-container .cat_desc {padding: 0.75em;}

#category .sortPagiBar .col-sm-8 {width: 100%;}
#category .sortPagiBar #pagination_bottom {position: relative; left: 50%; transform: translateX(-50%);}

#category #layered_block_left ul li:hover {background: #3fd5ae;}

.ajax_block_product {height: 330px;}

.content_sortPagiBar {display:none;}

#left_column {display:none;}
#center_column {width:75%;}

#product #center_column {width: 100%;}

#product .botones_derecha {display:none;}

#authentication #center_column {width:100%;}
#authentication #right_column {display:none;}
#authentication .botones_derecha {display:none;}

#cms #right_column {display:none;}
#cms #center_column {width: 100%;}

#contact #right_column {display:none;}
#contact #center_column {width: 100%;}

/* Arreglos para el widget de trustivity */

@media (min-width: 768px) and (max-width: 960px)
{
	.col-sm-8 {width:100%;}
}

.trustivity_widget #widget_tab_head {box-sizing: content-box;}
.trustivity_widget .trust_tab_opinion {box-sizing: content-box;}
.trustivity_widget #widget_pestana {left: 0; width:43px !important;}
.trustivity_widget #tab_content {padding-left: 43px;}
.trustivity_widget #tab_trust_boton {float: none;}


@media (max-width: 560px)
{
	#tab_trust_boton 
	{
		display:none;
	}
    /*#tab_trust_boton 
    {
        left: 0 !important;
        top: 50% !important;
    }
    
    #cerrar 
    {
    	margin-left: -1px !important;
    	margin-top: -1px !important;
	}

	div#widget_pestana_content 
	{
    	margin-top: 0px !important;
    	margin-left: 0px !important;
	}

	.zopim
	{
    	left: 18px !important;
	}*/
}

.comentarios_trustivity {
	border: 1px solid rgba(165,123,175,0.7);
    border-radius: 15px;
    margin: 20px 0 20px 0 !important;
    padding: 1em;
    display: inline;
    float: left;
    width: 100%;
}

.comentarios_trustivity h2{color: rgba(165,123,175,0.7) !important; margin-bottom:1em;}

.comentario_cliente {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    height:auto;
}

.comentario {

	padding: 1em 1em;

}
.comentario:before {
	content: "";
    background: url('../img/comentario-abre.png') no-repeat;
    background-size: contain;
    display:block;
    width: 26px;
    height: 19px;
    position: relative;
    left: -36px;

}

.comentario:after {
	content: "";
    background: url('../img/comentario-cierra.png') no-repeat;
    background-size: contain;
    display:block;
    width: 26px;
    height: 19px;
    position: relative;
    left: calc(100% + 5px);

}

.silueta {
	background: url('../img/ico_comentario.png') 0 0 no-repeat;
    background-size: contain;
    width: 50px;
    min-width:50px;
    min-height:50px;
    margin-right:1em;
    height:auto;
}

.review .rating_box{
	margin: 0;
	float:none;
}

.cookies {
    width: 280px;
    color: #fff;
    font-size: 13px;
    padding: 1em;
    position: fixed;
    bottom: 40px;
    left: 10px;
    z-index: 100;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: #c0a2c7;
}

.cookies a {color: white;font-style: oblique;text-decoration: underline;}
a.close-cookies {float: right;}

.newsletter_warning{color: #999999;line-height: 14px;margin-top: 12px;padding-top: 8px;}

.trustivity-wrapper {
	margin-top: 20px;
	width: 100%;
	float: left;
	text-align: center;
}

.trustivity-wrapper img {
	margin-right: 10px;
	margin-top: 10px;
}
.trustivity-wrapper img:last-child {
	margin-right: 0;
}

.trustivity-logo {
	width: auto;
	height: 48px;
}

.metodos {
	width: 100% !important;
}

p.warning, p.warning_inline, p.success, p.success_inline {
	display: none;
}
.cac-time {
	max-width: 220px;
	margin: 0 auto;
}
.contacto_mobile .cac-time {
  max-width: 280px;
  line-height: 1.2;
}		

#homecontent-displayPromoteTop > .leo-carousel.clearfix > #blockleohighlightcarousel-featured > .block_content > .highlight-carousel.block{
	margin-bottom: 10px;
}

#tituloh1{
	background-color: #A7ECE0;
    padding: 15px 30px 15px 30px;
    border-radius: 16px;
}

#tituloh1 > h1{
	font-weight: 600 !important;
    line-height: inherit !important;
    color: #7541B0 !important;
    font-size: 21px;
}