@media (min-width: 1300px)
{
	#header #cart_block{top: 14.2em;}
}

@media (min-width: 1140px) and  (max-width: 1300px)
{
	.container {max-width: 1140px;padding:0 !important}

	#header #cart_block{top: 14.2em;}

	#cavas_menu {width:100% !important;}
		#cavas_menu ul li a:link,#cavas_menu ul li a:active,#cavas_menu ul li a:visited {font-size:13px;margin:0 10px 0 0;}
	#leo-top-menu .nav > li {margin: 0 0 0 20px;}

	#search_block_top {width:400px;margin:0 0 0 -200px;}

	#leo-top-menu {display:block;}

	.title-product {width:50% !important;}
	.bloque_titulo #product_reference {width:50%;}

	#topnavigation .row,#footer .row {margin:0 !important}

	/* Productos */

	#center_column {padding:0 10px;}

	#pb-right-column {width:33.333333%;}
		#pb-right-column #image-block {margin-top:0px !important;}
		#pb-right-column #views_block {width:100%;}
	#pb-left-column {width:66.666666%; padding-top:0;}

	.title-product {width:50% !important;}
	.bloque_titulo {margin-top:0 !important;}
		.bloque_titulo #product_reference {width:50%;}

}

@media (min-width: 961px) and  (max-width: 1140px)
{
	.container {max-width: 961px;padding:0 !important}

	#header #cart_block{top: 14.2em;}

	#cavas_menu {width:960px !important;}
		#cavas_menu ul li a:link,#cavas_menu ul li a:active,#cavas_menu ul li a:visited {font-size:11px;margin:0 10px 0 0;}
	#leo-top-menu .nav > li {margin: 0 0 0 15px;}

	/*.pull-left{float:left !important;}
	.pull-right{float:right !important;}*/

	#search_block_top {width:300px;margin:0 0 0 -150px;}

	#leo-top-menu {display:block;}

	.search_query {font-size:12px}

	.leo-wrapper {width:960px}
		.nivoSlider {height:260px !important}

	#homecontent-displaySlideshow {clear:both;width:100%;max-height:270px;height:auto}

		ul.botones_derecha {padding-left:0}
		.botones_derecha li {display:block;width:300px;border-radius:20px;background:rgba(165,123,175,0.7);text-align:center;font-size:18px;
			font-weight:500;line-height:110%;color:#FFF;padding:20px 0;float:left}

		#topnavigation .row,#footer .row {margin:0 !important}

	#index
		.botones_derecha li:nth-child(2) {margin:0 22px}

	/* Productos */

	#center_column {padding:0 10px;}

	#pb-right-column {width:33.333333%;}
		#pb-right-column #image-block {margin-top:0px !important;}
		#pb-right-column #views_block {width:100%;}
	#pb-left-column {width:66.666666%; padding-top:0;}

	.title-product {width:50% !important;}
	.bloque_titulo {margin-top:0 !important;}
		.bloque_titulo #product_reference {width:50%;}

	#thumbs_list {width: 288px;}
	#thumbs_list li img {display: inline-block;}
	#views_block {width:100%;}

	#view_scroll_left {left: calc(50% - 165px);}
	#view_scroll_right {left: calc(50% + 144px);}
	
	/* mi nuevo estilo*/
	.title_empresas{
		font-size: 17px !important;
		line-height: 2.4 !important;
	}

}

@media (min-width: 769px) and  (max-width: 960px)
{
	.container {max-width: 960px;padding:0 !important}
	#page {padding-top: 110px;}

	#slideshow {margin-top: 0; padding:0 20px;}

	.col-md-9 {display:block;padding: 0 20px;}

	.post-card{height: 14em; height: 100%;  width: 90%; margin: 0% 5% 0% 5%;background:none;}
		.post-card .image_blog {width:40%;float:left;}
		.post-card img {position: relative;padding: 1em 0 1em 0;background-color: rgba(165,123,175,0.7);border-radius: 15px;-webkit-transform: translateX(0%);
						transform: translateX(0%);left: 0;}
		.post-card h1 {position: relative;width: 60%;float: right;color: #999999;}
		.post-card p {position: relative;width: 60%;float: right;color: #999999;}

	#header {height:110px;}

	#topbar {height:60px;background:none !important;}

	#header_nav_cart {width:60px;height:60px;overflow:hidden;background:#a57baf url(../img/cartw.png) 50% 50% no-repeat;float:right;position:absolute;right:0;top:0;z-index:10001;}
		#header_nav_cart a {display:block;width:60px;height:60px}

	#header_logo {position:absolute;top:-60px;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:648px;height:60px;overflow:hidden;margin:0 !important;
					z-index:10001;padding:0 !important;min-height:auto}
		#header_logo img {height:40px;width:auto !important;margin:10px auto 0 auto;display:block;padding:0 !important}

	.hiderwd {display:none}

	#topnavigation {position:absolute;width:100%;left:-1px;top:0;margin:0 0 0 0;background:white;}

		.navbar-toggle {width:60px;height:60px;overflow:hidden;background:#a57baf url(../img/toggle.png) 50% 50% no-repeat !important;float:left;left:0;top:0;z-index:10001;display:block;margin:0 !important;border:0 !important;border-radius:0 !important}
			.navbar-toggle span {display:none !important;text-indent:-999em !important;}


		#leo-top-menu {display:none;position:absolute;top:60px;left:0;width:100%;border:0 !important;overflow-y:scroll !important}

			#leo-top-menu ul {display:inline;float:left;width:100%;clear:both}

			#leo-top-menu #header_user {display:block;float:left !important;background:#81d4ae;padding:15px 20px 15px 10px;width:100%;margin:0 !important}
				#leo-top-menu#header_user li {list-style:none;display:block;width:100%;border:1px solid gold !important}

			#leo-top-menu .megamenu li:nth-child(1) {margin-top:10px !important;}
			#leo-top-menu .megamenu li {float:none !important;padding:15px 20px 15px 10px;background:#a57baf url(../img/link.png) 98% 50% no-repeat;margin:0 0 10px 0 !important;
				background-color:rgba(165,123,175,0.72)}
				#cavas_menu ul li a:link, #cavas_menu ul li a:active, #cavas_menu ul li a:visited {color:#FFF !important;line-height:100% !important}

			#leo-top-menu hgroup {float:left;display:block;width:100%;text-align:center;color:#7a4a93;background:#e6e6e6 url(../img/group.png) 50% -0 no-repeat;padding:20px 0}
				#leo-top-menu hgroup h2 {font-size:15px}
					#leo-top-menu hgroup h2 span {font-size:30px;display:block;font-weight:700}
				#leo-top-menu hgroup h3 {font-size:14px;font-weight:400;line-height:14px}

		.showrwd{display:block}

		#cavas-menu {position:absolute;top:60px;left:0;width:768px !important}
			#cavas_menu ul li {float:none !important;list-style:none}

	#search_block_top {width:100%;margin:0;left:0;height:50px;border-radius:0;}
		#search_block_top a.groupe-btn {display:none !important}
		#searchbox {display:block !important;top:0;left:0;right:0;width:100%;margin: 0;}
		#searchbox  .button {background:#666 url("../img/lupaw.png") 50% 50% no-repeat;border-radius:0;height: 50px;width: 60px;right:0;top: 0;}

	.title-product {width:50% !important;}
	.bloque_titulo #product_reference {width:50%;}

	.search_query {font-size:12px}

	.leo-wrapper {width:100%;}
		.nivoSlider {height:200px !important;max-height:200px !important}

	#homecontent-displaySlideshow {clear:both;width:100%;max-height:200px;height:auto}

		.botones_derecha li {width:100%}
		.botones_derecha li:nth-child(2) {margin:10px 2%}

		ul.botones_derecha {margin-top:0; padding-left:0;}
			ul.botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:15px;padding: 16px 5px;;display: block;float: left;}
				ul.botones_derecha li span{font-size:14px;}

		.botones_derecha li {width: 32%;height:59px;margin: 10px 0px;font-size:15px;padding: 16px 5px;;display: block;float: left;}
		.botones_derecha li span {font-size:14px;}

		#topnavigation .row,#footer .row {margin:0 !important}

	.contacto_mobile {display: block}

	#newsletter_block_left .inputNew {width:130px !important;font-size:12px}
	#newsletter_block_left .button_mini {width:80px !important;font-size:12px}

	#lofadva-pos-1 .blog_botoncito {display:none;}
	#lofadva-pos-1 .siguenos {display:none;}
	#lofadva-pos-1 #newsletter_block_left {width:100.00%;float:left;}
	#lofadva-pos-1 div:nth-child(1) {display:inline-block;position:relative;-webkit-transform:translateX(-50%);transform:translateX(-50%);left:50%;}
		#lofadva-pos-1 div:nth-child(1) .description {display:none;}
		#lofadva-pos-1 div:nth-child(1) div:nth-child(3) {display:none;}
	#lofadva-pos-1 div:nth-child(2) .block-wrap {display:none;}
	#lofadva-pos-3 {padding-top:0 !important;}
	#lofadva-pos-3 div:nth-child(2) {width:100% !important;padding-left: 10px;padding-right: 10px; padding-top:10px;}
		#lofadva-pos-3 p {border:0;padding:0}
	#lofadva-pos-3 div:nth-child(3) {width:100% !important;padding-top:30px;}
	#lofadva-pos-3 div:nth-child(3) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(5) {width:100% !important;padding-top:30px;}
	#lofadva-pos-3 div:nth-child(5) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(6) {width:100% !important;padding-top:30px}
	#lofadva-pos-4 {display: -webkit-inline-box;-webkit-transform: translateX(-50%);transform: translateX(-50%);position: relative;left: 50%;}
		#lofadva-pos-4 a {position: absolute;right: 10px;top: 0;}

	li.link {padding:5px 0 !important;}
		.link:first-child {border-top:1px solid #b3b3b3;}
		.link {border-bottom:1px solid #b3b3b3;background:url(../img/arrowg.png) 100% 50% no-repeat;}
		.link a {display:block !important;width:100% !important}

	.metodos {width:100%;padding:0;border:0 !important}
			.metodos p {text-align:center !important;}
			.metodos ul {width:auto;display:table;margin:0 auto}
	#lofadva-pos-3 .blog_reducido {display: inline-block;}
		#lofadva-pos-3 .blog_reducido p {font-style: normal;left: 50%;position: relative;width: 8em;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
	#lofadva-pos-3 .followus_mobile {display: inline-block;}
		#lofadva-pos-3 .followus_mobile p {font-style: normal;left: 50%;position: relative;width: 10em;-webkit-transform: translateX(-50%);transform: translateX(-50%);}


	/* Product */

	.bloque_titulo {display:none;}
		.bloque_titulo_mobile {display:block;padding: 0 20px 20px 20px;}
		.bloque_titulo_mobile .title-product {width:60% !important;margin:0px !important;font-size:1.5em !important;}
		.bloque_titulo_mobile .precio-line {float:right;width:40%;font-size:16px;text-align:right;}
		.bloque_titulo_mobile .precio-line #our_price_display {font-size:26px;}
		.bloque_titulo_mobile #product_reference {width:70%;}
		.bloque_titulo_mobile .rating_box {margin:0;padding:0;}
	#pb-right-column {margin-top: -20px !important; padding: 0 20px;}
		#pb-right-column #image-block {margin-top:0px !important;}
		#pb-right-column #views_block {width:100%;}
	#pb-left-column {padding-top:10px; width:100%;}

	#short_description_content{display:none;}
	.product_description_mobile{display:block !important;}

	.add_cart_mobile{display:block;border-radius: 5px;}
		.add_cart_mobile #add_to_cart {margin:0 !important;width:100%;background: #3fd5ae;border-radius:5px;}
		.add_cart_mobile #add_to_cart input {height:40px !important; width: 100%; padding: 0px !important; background: url(../img/link.png) 90% 50% no-repeat !important;
												line-height: 40px;margin: 0;border: 0 !important;text-align: center;position: relative;
												-webkit-transform: translateX(-50%);transform: translateX(-50%);left: 50%;}
	.mini_botones_derecha li {width:100%}
		.mini_botones_derecha li:nth-child(2) {margin:10px 2%}

	ul.mini_botones_derecha {margin-top:0;}
		ul.mini_botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:15px;padding: 14px;display: block;float: left;}
			ul.mini_botones_derecha li span{font-size:14px;}

	#more_info_tabs li {width:33.333333%;display: table;height: 44px;}
		#more_info_tabs li a {font-size:16px;font-weight: normal;padding: 0 !important;display: table-cell !important;vertical-align: middle;}

	#more_info_sheets {margin-bottom:0;}

	#usefull_link_block {margin-top:0;}
		#usefull_link_block li {border:0;margin:0;position:inherit;width:33.333333%;padding: 2px 2px 2px 60px;text-align:center;height:5em;vertical-align: middle;}
			#usefull_link_block li#left_share_fb {background:url(../img/iconos_mobile_fb.png) no-repeat;background-position-y: 50%;}
			#usefull_link_block li.sendtofriend {background:url(../img/iconos_mobile_mail.png) no-repeat;background-position-y: 50%;}
			#usefull_link_block li.print {background:url(../img/iconos_mobile_print.png) no-repeat;background-position-y: 50%;}
		#usefull_link_block a {font-weight: 500;font-size: 14px;-webkit-transform: translateY(-50%);transform: translateY(-50%);top: 50%;position: relative;}

	.block .title_block {text-align:left;}

	#primary_block {margin-bottom: 0;}
	#columns {margin-bottom: 0;}

	#thumbs_list {width: 288px;}
	#thumbs_list li img {display: inline-block;}
	#views_block {width:100%;}

	#view_scroll_left {left: calc(50% - 165px);}
	#view_scroll_right {left: calc(50% + 144px);}

}

@media (min-width: 480px) and  (max-width: 768px)
{
	.container {max-width: 768px;padding:0 !important}
	#page {padding-top: 110px;}

	#slideshow {margin-top: 0; padding:0 10px;}

	.col-md-9 {display:block;padding:0 20px;}

	.post-card{height: 14em; height: 100%;  width: 90%; margin: 0% 5% 0% 5%;background:none;}
		.post-card img {position: relative;padding: 1em 0 1em 0;background-color: #a57baf;border-radius: 15px;}
		.post-card h1 {position: relative;padding: 5px 5px 5px 5px;width: 100%;float: left;color: #999999;text-align:center;}
		.post-card p {position: relative;padding: 5px 5px 5px 5px;width: 100%;float: left;color: #999999;text-align:center;}

	#header {height:110px;}

	#topbar {height:60px;background:none !important;}

	#header_nav_cart {width:60px;height:60px;overflow:hidden;background:#a57baf url(../img/cartw.png) 50% 50% no-repeat;float:right;position:absolute;right:0;top:0;z-index:10001;}
		#header_nav_cart a {display:block;width:60px;height:60px}

	#header_logo {position:absolute;top:-60px;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:360px;height:60px;overflow:hidden;margin:0 !important;
					z-index:10001;padding:0 !important;min-height:auto}
		#header_logo img {height:40px;width:auto !important;margin:10px auto 0 auto;display:block;padding:0 !important}

	.hiderwd {display:none}

	#topnavigation {position:absolute;width:100%;left:-1px;top:0;margin:0 0 0 0;background:white;}

		.navbar-toggle {width:60px;height:60px;overflow:hidden;background:#a57baf url(../img/toggle.png) 50% 50% no-repeat !important;float:left;left:0;top:0;z-index:10001;display:block;margin:0 !important;border:0 !important;border-radius:0 !important}
			.navbar-toggle span {display:none !important;text-indent:-999em !important;}


		#leo-top-menu {display:none;position:absolute;top:60px;left:0;width:100%;border:0 !important;overflow-y:scroll!important}

			#leo-top-menu ul {display:inline;float:left;width:100%;clear:both}

			#leo-top-menu #header_user {display:block;float:left !important;background:#81d4ae;padding:15px 20px 15px 10px;width:100%;margin:0 !important}
				#leo-top-menu#header_user li {list-style:none;display:block;width:100%;border:1px solid gold !important}

			#leo-top-menu .megamenu li:nth-child(1) {margin-top:10px !important;}
			#leo-top-menu .megamenu li {float:none !important;padding:15px 20px 15px 10px;background:#a57baf url(../img/link.png) 98% 50% no-repeat;margin:0 0 10px 0 !important;
				background-color:rgba(165,123,175,0.72)}
				#cavas_menu ul li a:link, #cavas_menu ul li a:active, #cavas_menu ul li a:visited {color:#FFF !important;line-height:100% !important}

			#leo-top-menu hgroup {float:left;display:block;width:100%;text-align:center;color:#7a4a93;background:#e6e6e6 url(../img/group.png) 50% -0 no-repeat;padding:20px 0}
				#leo-top-menu hgroup h2 {font-size:15px}
					#leo-top-menu hgroup h2 span {font-size:30px;display:block;font-weight:700}
				#leo-top-menu hgroup h3 {font-size:14px;font-weight:400;line-height:14px}

		.showrwd{display:block}

		#cavas-menu {position:absolute;top:60px;left:0;width:480px !important}
			#cavas_menu ul li {float:none !important;list-style:none}

	#search_block_top {width:100%;margin:0;left:0;height:50px;border-radius:0;}
		#search_block_top a.groupe-btn {display:none !important}
		#searchbox {display:block !important;top:0;left:0;right:0;width:100%;margin: 0;}
		#searchbox  .button {background:#666 url("../img/lupaw.png") 50% 50% no-repeat;border-radius:0;height: 50px;width: 60px;right:0;top: 0;}

	.title-product {width:50% !important;}
	.bloque_titulo #product_reference {width:50%;}

	.search_query {font-size:12px}

	.leo-wrapper {width:100%;}
		.nivoSlider {height:150px !important;max-height:150px !important;min-height:auto !important}

	#homecontent-displaySlideshow {clear:both;width:100%;max-height:150px;height:auto;min-height:auto !important}

		.botones_derecha li {width:100%}
		.botones_derecha li:nth-child(2) {margin:10px 2%}

		ul.botones_derecha {margin-top:0; padding-left:0;}
			ul.botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:12px;padding: 16px 5px;;display: block;float: left;}
				ul.botones_derecha li span{font-size:12px;}

	.botones_derecha li {width: 32%;height:59px;margin: 10px 0px;font-size:12px;padding: 16px 5px;;display: block;float: left;}
		.botones_derecha li span {font-size:12px;}

		#topnavigation .row,#footer .row {margin:0 !important}

	.contacto_mobile {display: block}

	#newsletter_block_left .inputNew {width:130px !important;font-size:12px}
	#newsletter_block_left .button_mini {width:80px !important;font-size:12px}

	#lofadva-pos-1 .blog_botoncito {display:none;}
	#lofadva-pos-1 .siguenos {display:none;}
	#lofadva-pos-1 #newsletter_block_left {width:100.00%;float:left;}
	#lofadva-pos-1 div:nth-child(1) {display:inline-block;position:relative;-webkit-transform:translateX(-50%);transform:translateX(-50%);left:50%;}
		#lofadva-pos-1 div:nth-child(1) .description {display:none;}
		#lofadva-pos-1 div:nth-child(1) div:nth-child(3) {display:none;}
	#lofadva-pos-1 div:nth-child(2) .block-wrap {display:none;}
	#lofadva-pos-3 {padding-top:0 !important;}
	#lofadva-pos-3 div:nth-child(2) {width:100% !important;padding-left: 10px;padding-right: 10px; padding-top:10px;}
		#lofadva-pos-3 p {border:0;padding:0}
	#lofadva-pos-3 div:nth-child(3) {width:100% !important;padding-top:30px;}
		#lofadva-pos-3 div:nth-child(3) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(5) {width:100% !important;padding-top:30px;}
		#lofadva-pos-3 div:nth-child(5) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(6) {width:100% !important;padding-top:30px}
	#lofadva-pos-4 {display: -webkit-inline-box;-webkit-transform: translateX(-50%);transform: translateX(-50%);position: relative;left: 50%;}
		#lofadva-pos-4 a {position: absolute;right: 10px;top: 0;}

	li.link {padding:5px 0 !important;}
		.link:first-child {border-top:1px solid #b3b3b3;}
		.link {border-bottom:1px solid #b3b3b3;background:url(../img/arrowg.png) 100% 50% no-repeat;}
		.link a {display:block !important;width:100% !important}

	.metodos {width:100%;padding:0;border:0 !important}
			.metodos p {text-align:center !important;}
			.metodos ul {width:auto;display:table;margin:0 auto}
	#lofadva-pos-3 .blog_reducido {display: inline-block;}
		#lofadva-pos-3 .blog_reducido p {font-style: normal;left: 50%;position: relative;width: 8em;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
	#lofadva-pos-3 .followus_mobile {display: inline-block;}
		#lofadva-pos-3 .followus_mobile p {font-style: normal;left: 50%;position: relative;width: 10em;-webkit-transform: translateX(-50%);transform: translateX(-50%);}

	/* Product */

	.bloque_titulo {display:none;}
		.bloque_titulo_mobile {display:block;padding: 0 10px 10px 10px;}
		.bloque_titulo_mobile .title-product {width:60% !important;margin:0px !important;font-size:1.5em !important;}
		.bloque_titulo_mobile .precio-line {float:right;width:40%;font-size:16px;text-align:right;}
		.bloque_titulo_mobile .precio-line #our_price_display {font-size:26px;}
		.bloque_titulo_mobile #product_reference {width:70%;}
		.bloque_titulo_mobile .rating_box {margin:0;padding:0;}
	#pb-right-column {margin-top: -20px !important; padding: 0 20px;}
		#pb-right-column #image-block {margin-top:0px !important;}
	#pb-left-column {padding-top:10px;}

	#short_description_content{display:none;}
	.product_description_mobile{display:block !important;}

	.add_cart_mobile{display:block;border-radius: 5px;}
		.add_cart_mobile #add_to_cart {margin:0 !important;width:100%;background: #3fd5ae;border-radius:5px;}
		.add_cart_mobile #add_to_cart input {height:40px !important; width: 100%; padding: 0px !important; background: url(../img/link.png) 90% 50% no-repeat !important;
												line-height: 40px;margin: 0;border: 0 !important;text-align: center;position: relative;-webkit-transform: translateX(-50%);
												transform: translateX(-50%);left: 50%;}

	.mini_botones_derecha li {width:100%}
		.mini_botones_derecha li:nth-child(2) {margin:10px 2%}

	ul.mini_botones_derecha {margin-top:0;}
		ul.mini_botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:12px;padding: 16px 5px;;display: block;float: left;}
			ul.mini_botones_derecha li span{font-size:12px;}

	#more_info_tabs li {width:33.333333%;display: table;height: 44px;}
		#more_info_tabs li a {font-size:14px;font-weight: normal;padding: 0 !important;display: table-cell !important;vertical-align: middle;}

	#more_info_sheets {margin-bottom:0;}

	#usefull_link_block {margin-top:0;}
		#usefull_link_block li {border:0;margin:0;position:inherit;width:33.333333%;padding: 2px 2px 2px 12%;text-align:center;height:5em;vertical-align: middle;}
			#usefull_link_block li#left_share_fb {background:url(../img/iconos_mobile_fb.png) no-repeat;background-position-y: 50%;}
			#usefull_link_block li.sendtofriend {background:url(../img/iconos_mobile_mail.png) no-repeat;background-position-y: 50%;}
			#usefull_link_block li.print {background:url(../img/iconos_mobile_print.png) no-repeat;background-position-y: 50%;}
		#usefull_link_block a {font-weight: 500;-webkit-transform: translateY(-50%);transform: translateY(-50%);top: 50%;position: relative;}

	.block .title_block {text-align:left;}

	#primary_block {margin-bottom: 0;}
	#columns {margin-bottom: 0;}

	#thumbs_list {width: 288px;}
	#thumbs_list li img {display: inline-block;}
	#views_block {width:100%;}

	#view_scroll_left {left: calc(50% - 165px);}
	#view_scroll_right {left: calc(50% + 144px);}

}

@media (max-width: 480px)
{
	.container {max-width: 480px;padding:0 !important}
	#page {padding-top: 110px;}

	#slideshow {margin-top: 0; padding:0 10px;}

	.col-md-9 {display:block; padding:0 20px;}

	.post-card{height: 14em; height: 100%;  width: 90%; margin: 0% 5% 0% 5%;background:none;}
		.post-card img {position: relative;padding: 1em 0 1em 0;background-color: #a57baf;border-radius: 15px;}
		.post-card h1 {position: relative;padding: 5px 5px 5px 5px;width: 100%;float: left;color: #999999;text-align:center;}
		.post-card p {position: relative;padding: 5px 5px 5px 5px;width: 100%;float: left;color: #999999;text-align:center;}

	#header {height:110px;}
	#slideshow .leo-coinslider-basic{display:none;}

	#topbar {height:60px;background:none !important;}

	#header_nav_cart {width:50px;height:60px;overflow:hidden;background:#a57baf url(../img/cartw.png) 50% 50% no-repeat;float:right;position:absolute;right:0;top:0;z-index:10001;}
		#header_nav_cart a {display:block;width:50px;height:60px}

	#header_logo {position:absolute;top:-60px;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:200px;height:60px;overflow:hidden;margin:0 !important;z-index:10001;padding:0 !important;min-height:auto}
		#header_logo img {height:25px;width:auto !important;margin:18px auto 0 auto;display:block;padding:0 !important}

	.hiderwd {display:none}

	#topnavigation {position:absolute;width:100%;left:-1px;top:0;margin:0 0 0 0;background:white;}

		.navbar-toggle {width:50px;height:60px;overflow:hidden;background:#a57baf url(../img/toggle.png) 50% 50% no-repeat !important;float:left;left:0;top:0;z-index:10001;display:block;margin:0 !important;border:0 !important;border-radius:0 !important}
			.navbar-toggle span {display:none !important;text-indent:-999em !important;}


		#leo-top-menu {display:none;position:absolute;top:60px;left:0;width:100%;border:0 !important;overflow-y:scroll !important}

			#leo-top-menu ul {display:inline;float:left;width:100%;clear:both}

			#leo-top-menu #header_user {display:block;float:left !important;background:#81d4ae;padding:15px 20px 15px 10px;width:100%;margin:0 !important}
				#leo-top-menu#header_user li {list-style:none;display:block;width:100%;border:1px solid gold !important}

			#leo-top-menu .megamenu li:nth-child(1) {margin-top:10px !important;}
			#leo-top-menu .megamenu li {float:none !important;padding:15px 20px 15px 10px;background:#a57baf url(../img/link.png) 98% 50% no-repeat;margin:0 0 10px 0 !important;
				background-color:rgba(165,123,175,0.72)}
				#cavas_menu ul li a:link, #cavas_menu ul li a:active, #cavas_menu ul li a:visited {color:#FFF !important;line-height:100% !important}

			#leo-top-menu hgroup {float:left;display:block;width:100%;text-align:center;color:#7a4a93;background:#e6e6e6 url(../img/group.png) 50% -0 no-repeat;padding:20px 0}
				#leo-top-menu hgroup h2 {font-size:15px}
					#leo-top-menu hgroup h2 span {font-size:30px;display:block;font-weight:700}
				#leo-top-menu hgroup h3 {font-size:14px;font-weight:400;line-height:14px}

		.showrwd{display:block}

		#cavas-menu {position:absolute;top:60px;left:0;width:300px !important}
			#cavas_menu ul li {float:none !important;list-style:none}

	#search_block_top {width:100%;margin:0;left:0;height:50px;border-radius:0;}
		#search_block_top a.groupe-btn {display:none !important}
		#searchbox {display:block !important;top:0;left:0;right:0;width:100%;margin: 0;}
		#searchbox  .button {background:#666 url("../img/lupaw.png") 50% 50% no-repeat;border-radius:0;height: 50px;width:50px;right:0;top: 0;}

	.title-product {width:50% !important;}
	.bloque_titulo #product_reference {width:50%;}

	.bloque_titulo .price {width:100%;}

	.bloque_titulo #product_reference {width:100% !important;}

	.btn-product {font-size:14px !important}

	.search_query {font-size:12px}

	.leo-wrapper {width:100%;}
		.nivoSlider {height:70px !important;max-height:70px !important;min-height:auto !important}

	#homecontent-displaySlideshow {clear:both;width:100%;max-height:70px;height:auto;min-height:auto !important}

		.botones_derecha li {width:100%}
		.botones_derecha li:nth-child(2) {margin:10px 2%}

		ul.botones_derecha {margin-top:0; padding-left:0;}
			ul.botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:9px;padding: 16px 5px;;display: block;float: left;}
				ul.botones_derecha li span{font-size:9px;}

	.botones_derecha li {width: 32%;height:59px;margin: 10px 0px;font-size:9px;padding: 16px 5px;;display: block;float: left;}
		.botones_derecha li span {font-size:9px;}

		#topnavigation .row,#footer .row {margin:0 !important}

	.contacto_mobile {display: block}

	#newsletter_block_left p {font-size:12px;}
		#newsletter_block_left p o {display:none}

	#newsletter_block_left p {font-size:12px;}
		#newsletter_block_left p o {display:none}
	#newsletter_block_left .inputNew {width:130px !important;font-size:12px}
	#newsletter_block_left .button_mini {width:80px !important;font-size:12px}

	#lofadva-pos-1 .blog_botoncito {display:none;}
	#lofadva-pos-1 .siguenos {display:none;}
	#lofadva-pos-1 #newsletter_block_left {width:100.00%;float:left;}
	#lofadva-pos-1 div:nth-child(1) {display:inline-block;position:relative;-webkit-transform:translateX(-50%);transform:translateX(-50%);left:50%;margin-top:0;}
		#lofadva-pos-1 div:nth-child(1) .description {display:none;}
		#lofadva-pos-1 div:nth-child(1) div:nth-child(3) {display:none;}
	#lofadva-pos-1 div:nth-child(2) .block-wrap {display:none;}
	#lofadva-pos-3 {padding-top:0 !important;}
	#lofadva-pos-3 div:nth-child(2) {width:100% !important;padding-left: 10px;padding-right: 10px; padding-top:10px;}
		#lofadva-pos-3 p {border:0;padding:0}
	#lofadva-pos-3 div:nth-child(3) {width:100% !important;padding-top:30px;}
		#lofadva-pos-3 div:nth-child(3) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(5) {width:100% !important;padding-top:30px;}
		#lofadva-pos-3 div:nth-child(5) a {padding-left: 30px !important;padding-right: 30px !important;}
	#lofadva-pos-3 div:nth-child(6) {width:100% !important;padding-top:30px}

	#lofadva-pos-4 {display: -webkit-inline-box;-webkit-transform: translateX(-50%);transform: translateX(-50%);position: relative;left: 50%;}
		#lofadva-pos-4 p {font-size:10px}
		#lofadva-pos-4 a {position: absolute;right: 10px;top: 0;}

	li.link {padding:5px 0 !important;}
		.link:first-child {border-top:1px solid #b3b3b3;}
		.link {border-bottom:1px solid #b3b3b3;background:url(../img/arrowg.png) 100% 50% no-repeat;}
		.link a {display:block !important;width:100% !important}

	.metodos {width:100%;padding:0;border:0 !important}
			.metodos p {text-align:center !important;}
			.metodos ul {width:auto;display:table;margin:0 auto}

	#lofadva-pos-3 .blog_reducido {display: inline-block;}
		#lofadva-pos-3 .blog_reducido p {font-style: normal;left: 50%;position: relative;width: 8em;-webkit-transform:translateX(-50%);transform: translateX(-50%);}
	#lofadva-pos-3 .followus_mobile {display: inline-block;}
		#lofadva-pos-3 .followus_mobile p {font-style: normal;left: 50%;position: relative;width: 10em;-webkit-transform:translateX(-50%);transform: translateX(-50%);}

	/* Product */

	.bloque_titulo {display:none;}
		.bloque_titulo_mobile {display:block;padding: 0 10px 10px 10px;}
		.bloque_titulo_mobile .title-product {width:60% !important;margin:0px !important;font-size:1.5em !important;}
		.bloque_titulo_mobile .precio-line {float:right;width:40%;font-size:12px;text-align:right;}
		.bloque_titulo_mobile .precio-line #our_price_display {font-size:20px;}
		.bloque_titulo_mobile #product_reference {width:70%;}
		.bloque_titulo_mobile .rating_box {margin:0;padding:0;}
	#pb-right-column {margin-top: -20px !important; padding: 0 20px;}
		#pb-right-column #image-block {margin-top:0px !important;}
	#pb-left-column {padding-top:10px;}

	#short_description_content{display:none;}
	.product_description_mobile{display:block !important;}

	.add_cart_mobile{display:block;border-radius: 5px;}
		.add_cart_mobile #add_to_cart {margin:0 !important;width:100%;background: #3fd5ae;border-radius:5px;}
		.add_cart_mobile #add_to_cart input {height:40px !important; width: 100%; padding: 0px !important; background: url(../img/link.png) 90% 50% no-repeat !important;
												line-height: 40px;margin: 0;border: 0 !important;text-align: center;position: relative;
												-webkit-transform:translateX(-50%);transform: translateX(-50%);left: 50%;}

	.mini_botones_derecha li {width:100%}
		.mini_botones_derecha li:nth-child(2) {margin:10px 2%}

	ul.mini_botones_derecha {margin-top:0;}
		ul.mini_botones_derecha li{width: 32%;height:59px;margin: 10px 0px;font-size:9px;padding: 16px 5px;;display: block;float: left;}
			ul.mini_botones_derecha li span{font-size:9px;}

	#more_info_tabs li {width:33.333333%;display: table;height: 44px;word-break: break-word;}
		#more_info_tabs li a {font-size:10px;font-weight: normal;padding: 0 !important;display: table-cell !important;vertical-align: middle;}
	#more_info_sheets {margin-bottom:0;}

	#usefull_link_block {margin-top:0;}
		#usefull_link_block li {border:0;margin:0;position:inherit;width:33.333333%;padding: 2px 2px 2px 10%;text-align:center;height:5em;vertical-align: middle;}
			#usefull_link_block li#left_share_fb {background:url(../img/iconos_mobile_fb.png) no-repeat;background-size:30%;background-position-y: 50%;}
			#usefull_link_block li.sendtofriend {background:url(../img/iconos_mobile_mail.png) no-repeat;background-size:30%;background-position-y: 50%;}
			#usefull_link_block li.print {background:url(../img/iconos_mobile_print.png) no-repeat;background-size:30%;background-position-y: 50%;}
		#usefull_link_block a {-webkit-transform:translateY(-50%);transform: translateY(-50%);top: 50%;position: relative;}

	.block .title_block {text-align:left;}

	#primary_block {margin-bottom: 0;}
	#columns {margin-bottom: 0;}

	#thumbs_list {width: 258px;}
		#thumbs_list li img {display: inline-block;width: 70px;height: 70px;}
	#views_block {width:100%;}
		#views_block li a {width:80px;}

	#view_scroll_left, #view_scroll_right {top:21px;}
		#view_scroll_left {left: calc(50% - 150px);}
		#view_scroll_right {left: calc(50% + 129px);}
}

@media (max-width: 480px)
{
	.price_container .price {font-size:12px;}
}

/* Arreglos al blog en portada */

@media (max-width: 768px)
{
	.marco_mobile {padding: 1em 0 1em 0;
					max-width:350px;
					background-color: rgba(165,123,175,0.7);
					border-radius: 15px;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					position: relative;
					left: 50%;}
}

@media (min-width: 769px) and  (max-width: 960px)
{
	.post-card .image_blog {width:100%; float:none;}
	.marco_mobile {padding: 1em 0 1em 0;
					max-width:350px;
    				background-color: rgba(165,123,175,0.7);
    				border-radius: 15px;
    				-webkit-transform: translateX(0%);
    				transform: translateX(0%);
    				width: 40%;
    				float: left;}

}
/* Arreglos y cambios a la seccion the categorias */

@media (max-width: 992px)
{
	#category #right_column .botones_derecha {padding: 0 1em !important;}
	#category #right_column .botones_derecha li {width: 32%;}
	#category #right_column .botones_derecha li:nth-child(2) {margin: 0 2%;}

	/*Reponsive del banner index*/
	#homecontent-displayPromoteTop > .leo-custom.block.no-blockshadown.hidden-sm.hidden-xs.clearfix:nth-child(2){
		display: block !important;
		width: 90% !important;
    	margin: 0 auto !important;
    	margin-top: 30px !important;
    	margin-bottom: 70px !important;
	}

	#homecontent-displayPromoteTop > .leo-custom.block.no-blockshadown.hidden-sm.hidden-xs.clearfix:nth-child(2) > #tituloh1 > h1{
		font-size: 18px !important;
	}

}

@media (max-width: 960px)
{
	#category #right_column .botones_derecha li:nth-child(2) {margin: 10px 2%;}
	#category #center_column {width: 100%;}
	#lofadva-pos-1 {min-height: 56px;}
	.metodos p {display:none;}
	#usefull_link_block {
							display: -webkit-box;
							display: -webkit-flex;
							display: -ms-flexbox;
							display: flex;
							-webkit-justify-content: space-around;
							-ms-flex-pack: distribute;
							justify-content: space-around;
						}

	/* MI NUEVO ESTILO PARA EL FOOTER*/

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(5){
		width: 100% !important;
		padding-top: 30px;
	}

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(5) .block_content{
		width:100% !important;
	}

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(5) .empresas{
		margin-top: 30px;
		padding-bottom: 20px;
	}

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(6) .widget-text{
		width:100%;
	}

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(6) p{
		display: none !important;
	}

	#advandfooter #lofadva-pos-3 .blocks-wrap div:nth-child(6) ul{
		display: flex !important;
	}
}

@media (max-width: 480px)
{
	#category #center_column .ajax_block_product {width: 50%;}
}

/* Arreglos a lis iconos de forma de pago del footer */

@media (min-width: 380px) and  (max-width: 960px)
{
	.tarjv {width:50px;background-size:contain;}
	.tarjm {width:51px;background-size:contain;}
	.tarja {width:41px;background-size:contain;}
	.tarjr {width:51px;background-size:contain;}
	.tarjp {width:84px;background-size:contain;}
}

.cookies {
	display: block;
	padding-top: 20px;
	padding-right: 20px;
}
.cookies p {
	padding-bottom: 0;
}
.cookies a.close-cookies {
	display: block;
	width: 32px;
	height: 32px;
	float: none;
	position: absolute;
	background: url(../img/icon/close-cookies.png) no-repeat;
	background-size: 28px 28px;
	background-position: center;
	top: 0;
	right: 0;
	text-decoration: none;
}

@media (max-width: 480px)
{
	.cookies {
		bottom: 80px;
	}
}
