/*******************************************
			FIX RESPONSIVE
******************************************/

@media (max-width: 1200px) {
	.header-wrap {padding-right: 155px}
	/*.nivoSlider {height: 340px!important;}
	.container {padding-left: 10px; padding-right: 10px;}*/
}
@media (max-width: 992px) {
	/*remove fix header*/
	/*#page{padding-top: 0 !important}
	#header.navbar-fixed-top{position: static;background-color: white}
	#topbar{margin-top: 0!important}*/
	
	/** block advfooter **/
	/*#lofadva-pos-2 .blocks-wrap > div { width: 47%!important;margin-bottom: 20px; padding-left:5%}
	#lofadva-pos-2 .blocks-wrap > div:nth-child(2n+1) {
		clear: both;
		padding-left: 0;		
	}
	.social a {padding: 0 2%;}
	.header-wrap {padding-right: 0; display: table;}*/
	/*product */

		/*#view_scroll_left, #view_scroll_right {left: 0;}
		#view_scroll_right{left: auto; right: 0;}*/
		
	/* leomanagewidgets*/
		/*.nav-tabs > li > a {line-height: 20px; text-align: center;}*/
	/** menu boostrap **/
		/*#leo-top-menu {display: none!important;}*/ /*
		.navbar-toggle {display: block!important}
	
	#header_logo img {margin: auto;}
	#topbar .container { padding-top: 10px; padding-bottom: 10px;}
	.header-wrap {display: block}
	#header-main .header-wrap > div {width: 100%; float: inherit!important; text-align: center;}
	#languages_block_top,
	#currencies_block_top {float: right!important;}
	#header_user {margin-right: 0}
	#header_nav {display: none;}
		#header_nav {position: absolute; padding: 10px; background-color: #fff; right: 10px; border-radius: 3px; box-shadow: 0 1px 3px #ccc; z-index: 9;}
		#header_nav a {background: none!important; border: 0!important;}
		#header_nav li {display: block;}
		#header_nav li:first-child {display: none;}
		#topbar #shopping_cart a {min-width: inherit; margin-right: 30px; padding: 0;  position: relative;}
		#topbar #shopping_cart a span {display: none!important;}
		#topbar #shopping_cart  a .fa-shopping-cart { display: block!important; font-size: 18px; line-height: 28px;  margin-top: 0; background: #363636; border-color: #363636}
		#topbar #shopping_cart  a .ajax_cart_quantity {display: block!important; position: absolute; top: 0; left: 2px;}
	#header_user {margin-top: 0;}
	.groupe-btn {
		padding: 9px 13px;
		height: 38px;
		width: 38px;
		text-align: center;
		color: #fff;
	}*/
	/* search */ 
	#search_block_top .groupe-btn {display:none !important;}
	/*
		#search_block_top {position: absolute; right: 0; top: 0; width: auto; padding: 0}
		#search_block_top  .groupe-btn {margin: 10px;}
		.groupe-btn .fa {font-size: 16px;}
		#searchbox {
			display: none;
		    position: absolute;
		    right: 20px;
		    top: 55px;
		    width: 200px;
		}
		#search_block_top:hover #searchbox{display: block;}
		.groupe-btn > .caret {display: none;} */

	/** menu **/ /*
	#topnavigation {position: absolute; top: -60px; left: 5px;z-index: 90}
	.dropdown-submenu:hover > .dropdown-menu {padding: 0;}
	.navbar-inverse .navbar-toggle {background-color: #363636; border-color: #363636;}
	.navbar-inverse .navbar-toggle .icon-bar  {background-color: #fff;}
	.navbar-inverse .navbar-toggle:hover .icon-bar {background-color: #E76D66}
	.navbar-inverse .navbar-toggle:focus .icon-bar {background-color: #E76D66}
	
	.product_block .wishlist-compare {bottom: 0;} */
}
@media (min-width: 992px) { 
	.leo-md-5 {
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		width: 20%;
	}
	.leo-md-5 .right_block .ajax_add_to_cart_button {max-width: 120px; overflow: hidden;}
}
@media (max-width: 960px) {

	#pb-right-column {text-align: center; width:100%;}
	#header_logo img {margin: auto;}
	#header-main .header-wrap > div {width: 100%; float: inherit!important; text-align: center;}

}
@media (max-width: 767px) {
	

	.form-horizontal .form-group {margin-left: -5px; margin-right: -5px;}
	/*product */
		#pb-right-column {text-align: center;}
		#views_block {display: inline-block; width: 300px;}
	
}
	
@media (max-width: 600px) {
		ul.step li.leocol-sm-5 {width: 100%;clear: both;}
		thead {display: none;}
		table td {display: block!important; width: auto!important; text-align: center!important; border-right:0;}
			.cart_quantity .cart_quantity_input,
			.cart_quantity .cart_quantity_button {float: none;margin-top: 0;}
			#customer_cart_total td.price {border-left: 0;}
		.nav-tabs li {width: 100%;}
		.nav-tabs li.active:last-child,
		.nav-tabs li.active:first-child {border-radius: 0;}
		.nav-tabs li.active:before {border-top: 0;}
	/** blockadvfooter **/
		#lofadva-pos-2 .blocks-wrap > div { width: 100%!important; padding:0}
		.social a {
			height: 30px;
			overflow: hidden;
			padding: 0 1%;
			width: 40px;
		}
		.social .fa {padding:0; font-size: 30px;}
		
		.view-list .product_block .center_block {width: 100%!important;}
		.view-list .product_block .right_block {clear: both;}
		.view-list .product-container .on_sale, .view-list .product-container .discount {top: -40px;}
	/* product */
		ul.idTabs li {display: block; width: 100%;}
} 
@media (max-width: 490px) { 

	#views_block {width: 285px;}
	
}
@media (max-width: 330px;) {
	#header #cart_block {
		right: 29px;
		top: 195px;
		text-align: left;
	}
}