#compare_shipping .center {text-align: center;}

#compare_shipping {
	padding: 10px;
}
#compare_shipping h3 {
	margin-bottom: 20px;
}
#compare_shipping #availableCarriers {
	margin-bottom: 20px;
}
#carriers_list [type="radio"] {margin-left: 5px;}
#compare_shipping #availableCarriers_table {
	margin: auto;
}

#compare_shipping ul#carriercompare_errors_list {
	color: red;
}

#compare_shipping ul#carriercompare_errors_list li {
	margin-left: 30px;
	text-decoration: none;
	list-style: none;
}

#SE_AjaxDisplay
{
	text-align: center;
	display: none;
}

#SE_AjaxDisplay img
{
	width: 15px;
}

.SE_SubmitRefreshCard
{
	text-align: center;
}

.carrier_action.radio {
	display: table-cell;
}
