/* block top search */
#search_block_top {
	position: absolute;
    right: 10px;
    top: 70px;
	z-index: 10
}
#searchbox  .button {
    background: url("img/icon-search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    height: 13px;
    padding: 0;
    text-indent: 999px;
    width: 16px;
	border-color: transparent;
	position: absolute;
	right: 8px;
	top: 8px;
	overflow: hidden;
	border:none!important;
}

#search_query_top {padding-right: 25px;}
