/* block top user information */
#header_user_info  {
	margin-top: 5px;
}
#topbar  #header_user_info  a {
	color: #eee;
	background: none;
	border-color: transparent
}
#topbar #shopping_cart a {background:none; border-color: transparent; font-size: 13px; display: inline-block; color: #8446AD; min-width: 145px; font-weight: 600;}
#topbar .links a .fa-shopping-cart {
	background: none repeat scroll 0 0 #363636;
    border: 1px solid #363636;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: -2px;
    padding: 4px 6px;
	transition: all 0.3s ease 0s;
}
#topbar .links a .icon-quitar-carrito { font-size: 1.75em; float: left; margin-top: 0px; margin-right: 2px; height: 25px;}
#shopping_cart span {margin-top: 6px;float: left; margin-left: 5px;}
#topbar .links a:hover .icon-quitar-carrito {
	background-color: transparent;
	border-color: #E76D66;
}
#topbar .links a.account {
	background: none;
	border-color: transparent;
	color: #8446ad;
	padding-left: 0;
} 
#header_user {margin-top: 5px}