.megamenu .menu-icon{
    background-position:center center;
    padding-left:23px;
    display:block;
}
.megamenu .menu-title{
    display:block;
    text-align: center;
}	
.megamenu .menu-desc{
    display:block;
    font-size:11px
}
.megamenu  .menu-content{
    padding:9px
}

.megamenu .caret{
    position:absolute;
    top:30%;
    right:1px;
}
.dropdown-menu .caret{
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #428BCA;
}


.megamenu ul{
    margin:0;
    padding:0
}
.megamenu ul li{
    list-style:none;
}
.dropdown-submenu > a:after {

    margin-right: -10px;
    margin-top: -22px;
}
.megamenu .mega-col{
}
.megamenu .cols1{

}
.megamenu .cols2{
    min-width:400px;
}
.megamenu .cols3{
    min-width:600px;
}
.megamenu .cols4{
    min-width:800px;
}
.fullwidth {
    width:100%;
}

.megamenu .mega-group  > a .menu-title {
    font-weight:bold;
    text-decoration:uppercase;
}
.nav > .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-mega{
    padding-left: 10px;
}

.dropdown-submenu > ul.dropdown-menu {
    float: left;
    left: 100%;
    line-height: 2;
    list-style: none outside none;
    margin: 0;
    min-width: 160px;
    padding: 3px 12px;
    position: absolute;
    top: 0;
    z-index: 1000;
}
.off-canvas body{ position: relative}
.off-canvas-inactive > #page,
.off-canvas-inactive > #off-canvas-nav {
     transition:all 500ms ease 0s;
     transform:translateX(0px);
	 -webkit-transform:translateX(0px);
	 -moz-transform:translateX(0px);
	 -ms-transform:translateX(0px);
	 -o-transform:translateX(0px);
}
.off-canvas-active > #page ,
.off-canvas-active > #off-canvas-nav { 
    transform:translateX(234px);
	-webkit-transform:translateX(234px);
	-moz-transform:translateX(234px);
	-ms-transform:translateX(234px);
	-o-transform:translateX(234px);
    transition:all 500ms ease 0s;
	
}
 .off-canvas-active  #page {
	position:fixed;	
	margin:0 auto}
	
#page-container{ position: relative;}
#off-canvas-nav{ 
    position: absolute; left:0; top: 0; width:0;background: #FFF;z-index: 999;  
}
.off-canvas-active #off-canvas-nav {
  
}
#off-canvas-nav .offcanvas-mainnav{ background: #258EA1; position: absolute; top: 0; left:-234px; overflow:hidden; width:234px }
#off-canvas-nav .megamenu .mega-cols{width:100%; min-width:inherit; padding:10px 0; display:inline-block; margin-top:10px }
#off-canvas-nav .megamenu .mega-cols ul li a {padding: 0 10px}
#off-canvas-nav .dropdown-menu{
    position: relative;
     display: inline-block;
     left: 0;
     right: 0;
     top: 0;
     float: none;
     box-shadow: none;
	 margin:10px 0 0
}
#off-canvas-nav ul li a:hover{color:#42A8BF}
#off-canvas-button {color:#fff; text-align:right; margin:10px 10px 0 0; cursor:pointer}
#off-canvas-nav .dropdown-mega,
#off-canvas-nav  li.mega-group .dropdown-menu {
	padding: 0 10px;
}
#off-canvas-nav .mega-col {
	display: block;
	width: 100%;
	position: relative;
	margin-left:0
}
.offcanvas-mainnav > .megamenu {padding:0 10px}
.offcanvas-mainnav > .megamenu > li:last-child a {border-bottom:0!important}
#off-canvas-nav .megamenu .mega-group > a .menu-title {
	font-size:  13px;
}
#off-canvas-nav .dropdown-menu img { width: 100%; }
#off-canvas-nav #off-canvas-button span { 
	font-weight: bold; 
	margin-right: 12px ;
}
#off-canvas-nav .dropdown .dropdown-menu li,#off-canvas-nav .megamenu .dropdown-mega li {
	 background:  none;
}
#off-canvas-nav .nav > li:hover, 
#off-canvas-nav .nav > li > a:hover, #off-canvas-nav .nav > li > a:focus {
	 background:  none;
}
#off-canvas-nav .dropdown .dropdown-menu li:hover,
#off-canvas-nav .megamenu .mega-group > a .menu-title {
	color:#5C5B5B
}
#off-canvas-nav .megamenu li.homepage a {
	 height: auto;
	 width: auto;
	 text-indent: inherit;
}
#off-canvas-nav .nav li {
	 border:none;
	 padding:  0;
}
#off-canvas-nav ul li a {
	 border-bottom:  1px solid #e0e0e0;
	 display:  block;
	 line-height: 23px;
	 color: #5C5B5B;
}
#off-canvas-nav .nav > li > a {  
	font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding:  5px 0;
    line-height: 35px;
	color:#fff;
}
#off-canvas-nav .megamenu .menu-desc {
	display:  none;
}
#off-canvas-nav .megamenu .menu-icon {
	padding-left: 0;
}
#off-canvas-nav .megamenu .mega-col .margin {
	margin-left: 0;
}
.navbar .btn-navbar, .navbar .btn-navbar:hover {background: #258ea1; border: 0}
 /* END OF OFF_CANVAS_MENU */