<div class="pago" style="min-height: 100px; margin-top: 22px;">
<img src="{$this_path}modules/redsys/pago-ok.gif" alt="Payment success" longdesc="Payment success" /></td></tr><tr>
<h2 style="font-style: normal;">{l s='The payment has been successfully accomplished!' mod='redsys'}</h2><br />
<p>
{l s='Great!' mod='redsys'}
</p>
<br/>
<p>
{l s='Remember that you can contact us at any time if you have any doubt about your order.' mod='redsys'}
</P></div>
{literal}
<!-- Google Code for Compra Audiactive Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 967619414;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "uyF2CPbA1V8Q1uayzQM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967619414/?label=uyF2CPbA1V8Q1uayzQM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
{/literal}
