#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {background:#f8f8f8}
.comparison_availability_statut {display:none}

.buttons-action > * {
	display: inline-block;
	clear: both;
}
.comparison_infos .product_meta {position: relative}
#product_comparison td {padding: 5px;}


#product_comparison .content_price {
	display: inline-block;
}
#product_comparison .product_image img {width: 60%;}
#product_comparison .product_desc {height: 40px;}
.comparison.availability{ margin-top: 10px;}



