#history #center_column .title_block  input {
	position: relative;
   top: -8px;
	float:right;
}

.info-order {
	 margin: 20px 0;
}
.info-order p {padding-bottom:10px}
.info-order p .icon {
	position:relative;
	top:2px;
	left:0
}

#order-list {
	margin-bottom:20px;
	width:100%;
	border:1px solid #999;
	border-bottom:none
}
#order-list  th {
	font-size: 13px;
	font-weight: bold;
}
#order-list tr.alternate_item {background-color: #f3f3f3}
#order-list  td {
	padding:12px;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-weight:bold;
	font-size:12px;
	vertical-align:top
}

.adresses_bloc {margin-bottom:20px}

.detail_step_by_step {width:100%}
#sendOrderMessage {margin-bottom:20px}
#sendOrderMessage p {padding-bottom:10px;}
.order_qte_input {border: 1px solid #F2F5F8; margin-right: 2px;}
#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
	width:100%;
}














