/** promotiontop */
	.media-list .media {
		border-radius: 5px;
		box-shadow: 0 1px 2px #D9DADB;
		padding: 15px 10px 10px 10px;
		position: relative;
		background: #1c0f29; /* Old browsers */
background: -moz-linear-gradient(left,  #1c0f29 0%, #301735 44%, #411e3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c0f29), color-stop(44%,#301735), color-stop(100%,#411e3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* IE10+ */
background: linear-gradient(to right,  #1c0f29 0%,#301735 44%,#411e3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0f29', endColorstr='#411e3f',GradientType=1 ); /* IE6-9 */
	}
	
	h3.media-heading {
		font-family: proximanovasemibold;
		font-size: 23px;
		text-transform: none;
	}
	h4.media-heading {
		font-family: proximanovalight;
		font-size:18px;
		text-transform: uppercase;
	}
	
/* tab product */
	.products_block .carousel-control {top: 25%; height: 30px; border-radius: 0 3px 3px 0;}
	.products_block .carousel-control.right {border-radius: 3px 0 0 3px;}
	.nav-tabs  li{
		/*border-left: 1px solid #EEEEEE;*/
		width: 25%;
	}
	.nav-tabs  li:first-child {
		border-left: 0;
	}
	.nav-tabs  li.active {
		background-color: #f1f1f1;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2) inset;
        -webkit-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2) inset;
        -o-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2) inset;
        transition:all 0.4s ease 0s;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;
	}
	.nav-tabs  li.active:before {
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		bottom: -12px;
		content: "";
		display: inline-block;
		left: 45%;
		position: absolute;


	}
	.nav-tabs li.active:before {
		border-top: 15px solid #eee;
	}
	.nav-tabs li.active:last-child {
		/*border-radius: 0 5px 5px 0;*/
	}
	.nav-tabs li.active:first-child {
		/*border-radius: 5px 0 0 5px;*/
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li > a,
	.nav-tabs > li > a:hover,
	.nav-tabs > li > a:focus {
		background: transparent;
		border: 0;
		color: inherit;
		color:#682E8F!important;

	}
	.nav-tabs > li > a {
    color: #a07fc6 !important;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    padding: 5px 0;
    }
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a {
		color: #8446AD;
    font-weight: 300 !important;
    text-transform: inherit;
        letter-spacing: 1px;
    }
	.highlight-carousel .title_block {font-size: 2em; letter-spacing: 1px; font-weight: 600; color: #333; text-transform: uppercase;}
	/** Promotion  **/
		#homecontent-displayPromoteTop h4.media-heading a { color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    }
	.media-body p{color:#fff; float:right;}
	/** home content */
		#homecontent-displayHome .leo-custom .media {border: 1px solid #FEFEFE}		
		.media-list .media:before {
			background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
			content: "";
			display: inline-block;
			height: 559px;
			position: absolute;
			right: 755px;
			top: 0;
			transform: skew(-45deg);
			transition: all 0.6s ease-in-out 0s;
			width: 600px;
		}
		.media-list .media:hover:before {
			right: -700px;
		}
		/*bottom */
	 #homecontent-displayBottom  p {padding-bottom: 0;}