/* Show Multiple Product Image */
.thumbs_list_frame li a.show:after { position:absolute; right:-2px; width:10px; height:10px; background:red }
.thumbs_list_frame li a {position:relative}
.leo-more-info {
    position: absolute;
	top:-1px;
    left:0;
	/* display:none; */
    height:100%;
    width: 0; 
	overflow: hidden;
	border-width:1px 0 1px 1px;
	border-color:#58B0DA;
	border-style:solid none solid solid;
    background-color:#fff;
    transition: all ease 0.4s;
    opacity:0;
	-moz-transition: all ease 0.4s; 
    -webkit-transition: left ease 0.4s; 
    -ms-transition: all ease 0.4s; 
    -o-transition: all ease 0.4s; 
	z-index: 4000;
}
.product-container { min-height:305px}
#product_list .product-container {min-height:340px}
.ie8 .product-container .leo-more-info {z-index:-100}
.ie8 .product-container:hover .leo-more-info {z-index:4000}

.product-container:hover .leo-more-info {
	left:-90px; 
    padding: 0 5px;
	width:80px;
	/* display:block; */
	opacity:1;  
}
.leo-more-over{ position: relative; z-index:0 }
.leo-more-image{
    opacity: 0;
    left:0;
    top:0;
    position: absolute;
}
.leo-more-info .col-1 { width: 80px; margin:5px 0; }
.leo-more-info .big_image { padding-bottom: 5px }
.leo-more-info  .wrapper-hover { padding: 3px 9px 12px }
.leo-more-info  li{ list-style-type: none }
.thumbs_list {
    overflow: hidden;
    width:80px;
    height:249px;
	margin-top:10px;
}
#product_list  .thumbs_list {margin-top:25px}
.thumbs_list li {
    cursor: pointer;
    float: left;
    height:83px;
    width:80px;
}
.thumbs_list li a {
    border: 1px solid #EDEDED !important;
    display: block;
    margin: 0 1px;
    text-align: center;
}
.thumbs_list ul.thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
}
.view-list .leo-more-info .thumbs_list {margin-top:10px!important; height:160px}
.view-list .leo-more-info .views_block .view_scroll_left , 
.view-list .leo-more-info .views_block  .view_scroll_right{display:block; margin-top:10px}
.quickview-wrapper #toolspanel {display:none}

/* quick-view  */
.product-additional {
    bottom: -200px;
    left: 0;
    position: absolute;
    -o-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    width: 100%;
}
.product-container:hover .center_block .product-additional {
    bottom: 0;
}
#product_comparison .product-container:hover .center_block .product_image img {opacity:1!important}
.leo-more-info .view_scroll_left, #product_list .leo-more-info .view_scroll_right {display:block; margin-top:10px; font-size:18px}
.leo-more-info .view_scroll_right {margin-top:0; font-size:18px; display:block}
.quickview-wrapper #product_comments_block_extra {display:none}
.quickview-wrapper  #wishlist_button {display:none}
.quickview-wrapper #more_info_tabs li > a {display:none}
.quickview-wrapper  #more_info_tabs  li #more_info_tab_more_info {display:block!important}
.quickview-wrapper  #thumbs_list {width:320px}
.quickview-wrapper  #thumbs_list li {width:80px!important}