{**
 * Project Audioactive.
 * User: David Moya de la Ossa <david.moya@adoramedia.com>
 * Date: 8/09/14
 * Time: 15:46
 *}

<!-- Google Code for Registro Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 979297876;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "a1V6COOdglYQ1Mz70gM";
    var google_conversion_value = 1.00;
    var google_conversion_currency = "EUR";
    var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;"
        ><img height="1" width="1" style="border-style:none;" alt=""
              src="//www.googleadservices.com/pagead/conversion/979297876/?value=1.00&amp;currency_code=EUR&amp;label=a1V6COOdglYQ1Mz70gM&amp;guid=ON&amp;script=0"
  /></div>
</noscript>