h1{margin-bottom:10px;}

.resumecat {
	font-size: 13px;
}
.content_scene_cat {overflow: hidden;}
.cat_desc {
	line-height:18px;
	margin-top: 15px;
	padding: 10px;
}
.cat_desc .lnk_more {
	margin: 10px 0;	
   padding:0 10px 0 0;
   color:#E76D66;
   display: inline-block;
   clear: both;
	background:url("../img/default/circle-li.png") no-repeat right center transparent;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
	padding-bottom: 0;	
}
.category-container .cat_desc {padding: 0; margin-top: 5px;}
.inline_list {
	list-style-type:none;
	margin-top:10px;
}
.inline_list  li {
	padding:10px 0;
	border-bottom:1px dotted #ccc
}
.inline_list  li .img {
	float:left;
	margin-right:15px
}
.inline_list  li img {
	border:1px solid #ccc
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}
.category-container { padding-top: 15px; padding-bottom: 15px;}