
@font-face {
    font-family: 'proximanovaextbold';
    src: url('../fonts/proximanova-extrabold.eot');
    src: url('../fonts/proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold.woff') format('woff'),
         url('../fonts/proximanova-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	
}

@font-face {
	font-family: 'proximanovalight';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'proximanova';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'proximanovasemibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

