/* product desc */
/* primary_block ***************************************************************************** */
#primary_block {
}

/* pb-right-column ***************************************************************************** */
#pb-right-column {
	
}

#pb-right-column #image-block {
	position:relative;
	text-align: center;
	padding: 20px 0;
}

#pb-right-column #image-block img {
	display: inline-block;
}

#pb-right-column #image-block #view_full_size {
	display:block;
	cursor:pointer;
}

#pb-right-column #image-block #view_full_size .span_link {
    bottom: 10px;
    color: #FFFFFF;
    display: block;
    padding: 5px 10px;
    position: absolute;
    right: 39%;
	background-color:#000;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

#pb-right-column #image-block #view_full_size .span_link img {
	position:relative;
	top:3px;
	left:-3px;
	border:none;
	padding-right:2px;
}

/* miniatures */
#views_block {
	width: 280px;
	position: relative;
	margin-top: 10px;
	text-align: center;
}
@media (min-width: 1200px) {
	#views_block {
		width: 100%;
	}
}
#thumbs_list {
    display: inline-block;
    overflow: hidden;
    width: 270px;
}

#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	cursor:pointer;
	display:inline-block;
	float: left;
	
}
#thumbs_list li a {
	display: block;
	text-align: center;
	width: 90px;
}
#thumbs_list li img {
	display: inline-block;
	border:1px solid #cdcdcd;
}

span.view_scroll_spacer {
	
	height:16px;
	width:21px;
}

#view_scroll_left,#view_scroll_right {
	top: 26px;
    width: 20px;
	height: 30px;
    z-index: 100;
	position: absolute;
	left: 10px;
	color: #2C2C2C;
    font-size: 20px;
}

#view_scroll_right {
	left: auto;
	right: 10px;
}

.resetimg {
	padding:10px 0 0;
}

/* link list */
#usefull_link_block {
	list-style-type:none;
	margin-top:20px;
	padding-top: 15px;
	border-top: 1px dotted #ccc;
}

#usefull_link_block li {
	padding: 2px 5px 2px 22px;
	position: relative;
	font-size: 11px;
}
#usefull_link_block li:first-child:before {
	display: none;
}
#usefull_link_block li:before {
	content:"|";
	width:1px;
	position: absolute;
	left: -5px;
}
#usefull_link_block li.print {
	background:url(../img/icon/print.gif) no-repeat 4px 0px;
}

#usefull_link_block li.sendtofriend {
	background:url(../img/icon/send_friend.gif) no-repeat 4px 1px;
}

#usefull_link_block li#left_share_fb {
	background:url(../img/icon/picto_fb.png) no-repeat 4px 2px;
}

/* pb-left-column ****************************************************************************** */
#pb-left-column{
	padding: 20px;
}
#pb-left-column #short_description_block {
	color:#666;
}

#pb-left-column #short_description_block .buttons_bottom_block {
	display:none;
}

/* form */
#pb-left-column #buy_block {
	line-height: 28px;
}

#buy_block p {
	padding-bottom:0;
	clear: both;
}

#pb-left-column #buy_block label {
	display:inline-block;
	font-size:12px;
	text-align:right;
	width: 25%;
	margin-right: 10px;
	float: left;
}


/* color_picker */
#pb-left-column #color_picker p {
	padding-bottom:5px;
	font-weight:700;
}

#attributes fieldset {
	padding-bottom:10px;
}

#attributes fieldset label {
	vertical-align:top;
}

#attributes .attribute_list {
	display:inline-block;
}

.ie7 #attributes .attribute_list {
	display:inline;
	zoom:1;
	float:right
}

#attributes .attribute_list ul{
	list-style:none
}

#attributes .attribute_list ul li{
	clear:both
}

#attributes .attribute_list input.attribute_radio{float: left;margin-left: 3px; margin-top: 7px;}
#attributes .attribute_list span{float: left;margin-bottom: 5px;margin-left: 3px;}

.ie7 #attributes .attribute_list span{margin-top:1px}

#attributes .attribute_list #color_to_pick_list {
	list-style-type:none;
}

#attributes .attribute_list #color_to_pick_list li {
	float:left;
	margin:4px 5px 4px 0;
	padding:1px;
	border:1px solid #ccc;
	clear:none;
	-wekit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

#attributes .attribute_list #color_to_pick_list li.selected {
	border-color:#E76D66;
}

#attributes .attribute_list #color_to_pick_list a.color_pick {
	display:block;
	height:15px;
	width:15px;
}

.product_attributes {
	border-top: 1px dotted #e1e1e1;
    padding: 15px 0 0;
}

/* attributes */
#attributes select {
	width:120px;
}

/* quantity_wanted */
#quantity_wanted_p input {
	width:40px;
}
#quantity_wanted_p {
	float: left!important;
	width: 120px;
}
#quantity_wanted_p label {
	width: auto!important;
}
/* availability_statut */
#availability_statut {
	margin: 10px 0 0 0;
	min-width: 255px;
}

#availability_statut span#availability_label, 
#availability_date_label {
	display:inline-block;
	width:20%;
	margin-right: 10px;
	font-weight:700;
	font-size:12px;
	text-align:right;
}

#availability_statut #availability_value {
		background-color:green;
		color:#ffffff;
		text-shadow:none;
		padding:0 10px;
		text-transform: uppercase;
		font-size:10px;
		font-weight: bold;
		display:inline-block;
}

#availability_statut #availability_value.warning_inline {
	background-color:#9B0000;
}

/* prices */
.content_prices {
	padding-top:15px;
	border-top:1px dotted #ccc;;
}

#buy_block p.price {
	padding:0;
}

.discount {
	display:none;
}

#buy_block p#old_price {
	padding-bottom:25px;
	font-size:20px;
	text-decoration:line-through;
	clear: inherit;
}

.our_price_display {
	font-size:24px;
	margin-bottom: 10px;
}

#reduction_percent,#reduction_amount {
	background: none repeat scroll 0 0 #F13340;
    border: 1px solid #D02A2C;
    color: #FFFFFF;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 10px;
    padding: 1px 2px;
	float:left;
}

#reduction_percent span,#reduction_amount span {
	display:block;
	padding:1px 5px 1px 0;
}

/* online_only */
#buy_block p.online_only {
	font-weight:700;
	font-size:11px;
	color:#900;
	text-align:left;
	text-transform:uppercase;
}

/* add_to_cart */
.content_prices #add_to_cart {
	position:relative;
	padding:0; 
	display: inline;
	margin-left: 5px;
}


#short_description_content {
	padding-bottom: 10px;
}
#short_description_content > ul {
    padding-left: 20px;
}

/* */
.buttons_bottom_block {
	clear:both;
}

.buttons_bottom_block #wishlist_button {
	font-weight:700;
	display: block;
	margin-top: 20px;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
}

#send_friend_form h2 {
	padding:8px 11px;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-transform:uppercase;
	background:#383838;
}

#send_friend_form .product {
	margin:20px 10px;
}


#send_friend_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333;
}

#send_friend_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000;
}

#send_friend_form .send_friend_form_content {
	margin:0 10px 20px;
}

#send_friend_form .form_container {
	padding:10px 15px;
	border:1px solid #ccc;
	background:#eee;
}

#send_friend_form .form_container p.intro_form {
	padding-bottom:14px;
	font-weight:700;
	font-size:13px;
	color:#333;
}

#send_friend_form .form_container p.txt_required {
	padding-bottom:0;
	color:/* SEND TO FRIEND (pop-in) ##################################################################### */
#666;
}

#send_friend_form .form_container .text {
	
}

#send_friend_form .form_container .text label {
	
}

#send_friend_form .form_container .text input {

	
}

#send_friend_form .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right;
}

/* PACK ##################################################################### */
#blockpack {
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #999;
}

/* PERSONNALISATION ##################################################################### */
.customization_block {
}

.customization_block p.infoCustomizable {
	margin:10px 0 20px;
	padding:0 0 0 20px;
	background:url(../img/icon/infos.gif) no-repeat 0 0 transparent;
}

ul#uploadable_files,ul#text_fields {
	list-style-type:none;
}

.customizableProductsFile,.customizableProductsText {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}

.customizationUploadLine {
	padding-bottom:10px;
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}
.customizationUploadLine label {
	display:inline-block;
	width:150px;
	vertical-align:top;
}

.customizationUploadLine textarea {
	height:50px;
	width:300px;
	border:1px solid #ccc;
}

#customizedDatas {
	float:right;
}

.accessories_block .product_block:nth-child(3n+1) {
	clear: both;
}
.accessories_block .product_block .product_desc { height: 40px;}