
.leo-coinslider-basic {
    clear: both;
	width:100% !important;
	margin-bottom:20px
}
.leo-coinslider-basic .leo-inner{
	padding:0!important;
	margin:0!important;
	overflow:hidden;
}
.leo-coinslider-basic p.leo-title, .leo-coinslider-basic p.leo-info{ 
	background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    color: #666;
    display: inline-block;
    float: left;
    margin-bottom: 2px;
    padding: 10px 10px 10px 0;
    text-align: left;
    text-transform: uppercase;
	font-size:14px;
	font-weight:400
}
.leo-coinslider-basic p.leo-info{text-transform:none; width:85%}
.leo-coinslider-basic p.leo-title{
	font-size: 28px;
}
.leo-coinslider-basic .leo-readmore{
	background:url("images/icon-viewmore.png") no-repeat scroll 95% 13px #FFF;
    clear: both;
    color: #42a8bf;
    display: inline-block;
    float: left;
	padding:5px 10px 5px 0;
}
.leo-coinslider-basic .leo-readmore:hover{color:#000 !important}
/* The Nivo Slider styles */
.leo-coinslider-basic .nivoSlider {
	position:relative;
	min-height:220px;
	max-width:100%;
	margin:0px;
	background:url(images/loading.gif) no-repeat 50% 50% transparent;
	height:auto;
	z-index:9

}
.leo-coinslider-basic .leo-content-wrrapper{
	overflow:hidden;
	display:none;
}
.leo-coinslider-basic .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	max-width: inherit;
}
.leo-coinslider-basic .nivoSlider a {
	border:0;
}

.leo-coinslider-basic .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.leo-coinslider-basic .nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.leo-coinslider-basic .nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.leo-coinslider-basic .nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.leo-coinslider-basic .nivo-caption {
	position:absolute;
	top:50%;
	color:#fff;
	z-index:89;
	text-align:justify;
}

.leo-coinslider-basic .leo-box-title, .leo-coinslider-basic .leo-box-title a{
	color: #d4020b;
	text-align:justify;
}

.leo-coinslider-basic .nivo-caption .leo-extrainfo a {
	background:none repeat scroll 0 0 #C01F25;
	font-size:86%;
	font-weight:bold;
	margin:0;
	padding:0 3px 2px 3px;
	text-decoration:none;
	text-transform:uppercase;	
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav {
	position:absolute;
	top:75%;
	right:0;
	width:89px;
	z-index:99
}
.leo-coinslider-basic .nivo-directionNav a {
	background-color: transparent;
    background-image: url("images/arrow-control.png");
    border: none;
    border-radius: 0 0 0 0;
    bottom: 10%;
    display: inline-block;
    height: 44px;
    margin-top: 0;
    opacity: 1;
    overflow: hidden;
    text-indent: -9999em;
    top: inherit;
    width: 44px;
}
.leo-coinslider-basic .nivo-prevNav {
	background-position: left top;
    right: 50px;
	margin-right:1px
}
.leo-coinslider-basic .nivo-prevNav:hover{
	background-position:left -56px;
}
.leo-coinslider-basic .nivo-nextNav {
	background-position: right top;
    right: 0;
}
.leo-coinslider-basic .nivo-nextNav:hover{
	background-position: right -56px;
}
/* Control nav styles (e.g. 1,2,3...) */
.leo-coinslider-basic .nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;	background:url(images/bullets.png) no-repeat 0 0;
	width:24px;
	height:35px;
	display:block;
	text-indent:-9999999px;
	margin:0 0 0 2px;
	float:left;
	display:none
}
.leo-coinslider-basic .nivo-controlNav{ position:absolute; left:44%;bottom:-31px;}
.leo-coinslider-basic .nivo-controlNav a:hover{ background-position:0 -35px; }
.leo-coinslider-basic .nivo-controlNav a.active {background-position:0 -70px;}

.leo-coinslider-basic .leo-title, .leo-coinslider-basic .leo-title a{
	color: #000000 !important;
    font-weight: bold;
}
.leo-coinslider-basic .leo-title a b{
    font-weight: lighter;
    letter-spacing: 0;
}
.leo-coinslider-basic .leo-table{
	display:  table;	
}

.leo-coinslider-basic .leo-cell{
	float:left;/*fix for  buggy browsers*/
	display:  table-cell;	
}

.leo-coinslider-basic .leo-row  {
	display:  table-row;
	width:auto;

}
/*.leo-coinslider-basic .leo-bottom-over{
	position: absolute;
	z-index: 100;	
}*/
.leo-coinslider-basic .leo-bottom-left{
	background:url(images/bg-left-right.png) no-repeat 0 0;	
	width: 72px;
	height: 29px;
}
.leo-coinslider-basic .leo-bottom-middle{
	background:url(images/bg-middle.png) repeat-x 0 0;	
	height: 29px;
	width:100% !important;	
}
.leo-coinslider-basic .leo-bottom-right{
	background:url(images/bg-left-right.png) no-repeat -72px 0;	
	width: 72px;
	height: 29px;
}
.leo-coinslider-basic .leo-wrapper{
    margin: 0 auto;
    overflow: hidden;
}
/** CSS 3 **/
.leo-coinslider-basic .leo-css3 .nivoSlider{	

}
.leo-coinslider-basic  .leo-css3 .nivo-caption {}
.leo-coinslider-basic .leo_overlay{
	width:100%;
	height:100%;
	position:absolute;
	z-index:9;
	cursor:pointer
}