a.delete_link{
    background: url("../img/delete.gif") no-repeat scroll left bottom transparent !important;
    display: block;
    float: right;
    font-size: 0;
}
#adm_categories{
    width:100%;
    border-collapse:collapse;
}
ul li.fc_admin_tab{
    padding-top: 13px;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 29px;
    list-style: none outside none;
    margin: 0 1px 0 0;
}
ul li.fc_admin_tab_active{
    padding-top: 13px;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 29px;
    list-style: none outside none;
    margin: 0 1px 0 0;
    background-color: #49B2FF;
}
li.fc_btn_compare{
	padding-left: 20px !important;
	background: url("../img/price_comparison.png") no-repeat;
}
.comparison_header td{
	background-color:#383838;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	padding:3px;
	border: 1px solid #CDCDCD
}

#pb-left-column .fc_btn_compare {
    float: right;
    margin-top: 10px;
}

#content div.store {
    margin: 5px;
    text-align:center;
    color: #bb3;
    font-size: 18px;
}

#content div.store a{
text-decoration: underline;
}

#fc_comparison li a{
    background: url("../../../blockcategories/img/arrow_right_2.png") no-repeat scroll 10px 10px transparent;
    color: #333333;
    display: block;
    padding: 7px 11px 5px 22px;
}