  /*
   Theme Name: Child twentysixteen
   Theme URI: http://www.yootheme.com/themes/
   Version: 1
   Description: Child Theme. Parent Theme twentysixteen WordPress
   Author: dinamicbrain
   Author URI: http://www.dinamicbrain.com
   Template: twentysixteen
*/
@import url("css/style.css");
@import url("css/fonts.css");
@import url("css/bootstrap.css");
@import url("css/theme-responsive.css");
@import url("css/font-awesome.min.css");
@import url("css/4dd18e11b694def27b0eda42afa84ff2_all.css");


@font-face {
    font-family: Raleway;
    src: url(raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-light;
    src: url(lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(lato/Lato-Bold.ttf);
}

body { font-family: sans-serif; } 

.site {padding-top:0 !important;}

#topbar .container{
  /*font-family: Lato-light;*/
}

#search_query_top{
	/*font-family: Lato-light;*/
}
}

.nav.navbar-nav.megamenu{
  /*font-family: Lato-bold;*/
}

.block_content{
  font-family: Lato-light;
}

body::before,
body::after {
  display: none !important;
}

.dropdown-toggle{
	width:136px;
}

.menu_title{
	font-family: sans-serif !important;
}

#footer-bottom{
	margin-bottom: 30px;
}

#search_query_top{
  width: 320px;
}

.fa-search{
    color:whiete;
}

.topbar{
  margin-left:480px;
}

.megamenu .menu-title {
  list-style-type:none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.sidebar.widget-area ul li{
  margin-left: 20px;
}

.comments-link a:hover{
  color:#8446AD;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs span {
  margin: 0 2px 0 2px;
}

.site {
  margin-top: 0 !important;
}

@media (min-width: 993px) {
  .dropdown-mega.level3 {
    list-style: none;
  }

  .mega-col .dropdown-submenu .dropdown-toggle { 
    width: 250px; 
  }

  .mega-col.col-md-3.col-1 > ul,
  .mega-col.col-md-3.col-2 > ul,
  .mega-col.col-md-3.col-3 > ul,
  .mega-col.col-md-3.col-4 > ul li{
    list-style: none;
  }
}

@media (max-width: 480px) {
  #search_block_top {
    top:6px;
  }

	ul.links li{
		margin-right:15px;
	}

  #header_nav_cart #header_user{
    display: none;
  }

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.off-canvas-active #footer{
   display: none;
}

.site-inner img{
  width:100%;
}

  #topbar{
      position: static;
}

  .dropdown-mega.level3 {
    list-style: none;
  }

  .mega-col.col-md-3.col-1 > ul,
  .mega-col.col-md-3.col-2 > ul,
  .mega-col.col-md-3.col-3 > ul,
  .mega-col.col-md-3.col-4 > ul li img{
    list-style: none;
  }

  .blocks-wrap {
    padding: 63px;
    margin-top: -40px; 
  }

  .header-wrap{
    padding: 0;
  }
}

.cac-time {
  max-width: 220px;
  margin: 0 auto;
}

.contacto_mobile .cac-time {
  max-width: 280px;
  line-height: 1.2;
}

form.search-form label {
    width: 270px;
    height: 30px;
}