/* Special style for block cart*/

#header  #cart_block .title_block, #header  #cart_block h4 {
	display: none;
}
#header #cart_block {
	background: none repeat scroll 0 0 #eee;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    display: none;
    height: auto;
    padding: 10px 12px;
    position: absolute;
    right: 0;
    top: 4.6em;
    width: 300px;
    z-index: 1500;
}
.imagencarrito > img {
    border: 2px solid #ccc;
    border-radius: 50%;
}
#cart_block.cart_block_hover {display:block}
#cart_block .title_block  span, #header  #cart_block h4 {
	float: right;
	padding-left: 10px;
	text-transform: none;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer
}
.imagencarrito {
    float: left;
    width: 90px;
}
#cart_block_list dt {
     border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    color: #999;
    float: left;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 15px !important;
    width: 100%;
}
#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	padding-right:2px;
	min-width:18px;
	vertical-align: top;
    color: #999;
}
#cart_block .remove_link, #cart_block .deleteCustomizableProduct {
	float:right;
	display:inline-block;
	margin:3px 0 0 5px;
	height:12px;
	width:12px
}
#cart_block .remove_link a, #cart_block .ajax_cart_block_remove_link {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.png) no-repeat 0 0
}
#cart_block .price {
	float:right;
	font-size: 14px;
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {padding:4px 0}
#cart_block #cart_block_list dt a {
	display: inline-block; max-width: 80px; font-weight: 300;
}
#cart_block #cart_block_list dd {
	margin-left:20px
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:25px;
    float: left;
    width: 100%;
    color: #666;

}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart-buttons{margin-top: 10px;}
#cart_block #cart-buttons  #button_order_cart {
	float:right;
	padding-left:20px
}

#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-right:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}

