/* advfooter */

#advandfooter .block {
	margin-bottom: 0;
}
#advandfooter a {
	color: #eeeeee;
}
#advandfooter a:hover {
	color: #ffffff;
}
.blocks-wrap {
	padding: 30px;
}

	/*block 1*/
	#lofadva-pos-1 {
		/*background-color: #303030;
		border-radius: 4px 4px 0 0;*/
	}
		.social {text-align: center;}
			.social a {
				color: #808080;
				display: inline-block;
				padding: 0 4%;
				transition: all 0.4s ease 0s;
			}
			.social .fa {font-size: 21px; padding-right: 5px;}
	/* block 2*/
		#lofadva-pos-2 {
			/*background-color: #292929;*/
		}
