div#csoc-container {
	margin-bottom: 10px; 
}
div#csoc-container div.product-container .product-image-container {
	text-align: center;
}
div#csoc-container div.product-container .product-image-container img {
	padding: 9px 0;
	margin: 0 auto;
}
div#csoc-container div.product-container .content_price {
	text-align: center;
	margin-bottom: 10px;
}
div#csoc-container div.product-container .right-block {
	text-align: center;
}
div#csoc-container div.product-container .left-block {
	position:relative;
	margin:0 auto;
}
div#csoc-container div.product-container .availability span {
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 3px 8px 4px;
}
div#csoc-container div.product-container .availability span.available-now {
	background: #46A74E;
	border: 1px solid #36943E;
}
div#csoc-container div.product-container .availability span.out-of-stock {
	background: #ff7430;
	border: 1px solid #EA5E1A;
}
div#csoc-container  div.product-container div.button-container {
	margin-bottom: 5px;
}
div#csoc-container div.product-container.csoc_product, div#csoc-container div.product-container .addtocart_buttons_container {
	text-align: center;
}
div#csoc-container div.product-container .addtocart_buttons_container a {
	margin-left: auto;
	margin-right: auto;
}
div#csoc-container div.product-container .csoc_product_title {
	padding-top: 10px;
}

/* Modal Cart 3 */
div#csoc-container.pm_mc_csoc {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
div#csoc-container.pm_mc_csoc span.availability {
	display: none;
}
div#csoc-container.pm_mc_csoc .button-small.ajax_add_to_cart_button span {
	font: bold 13px/17px Arial,Helvetica,sans-serif;
	padding: 0.5em;
}
div#csoc-container.pm_mc_csoc .content_price span {
	font-size: 1.3em;
}
/* Modal Cart 3 */

