
.megamenu .menu-icon{
    background-position:center center;
    padding-left:23px;
    display:block;
}
.megamenu .menu-title{
    display:block
}
.media.line-icons {
    border: 1px solid #7541b0;
    box-shadow: none;
}
.megamenu .menu-desc{
    display:block;
    font-size:11px
}
.megamenu .menu-content {
    line-height: 20px;
}
.megamenu .dropdown-mega > .menu-content {padding: 4px 0;}
.megamenu .caret{
    position:absolute;
    top:48%;
    right:7px;
    border-top-color:#505050;
}
.dropdown-menu .caret{
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #505050;
	right: -5px;
}

.megamenu ul{
    margin:0;
    padding:0
}
.megamenu ul li{
    list-style:none;
    position: relative;
}
.megamenu  .cols2{
    min-width:400px;
}
.megamenu .cols3{
    min-width:600px;
}
.megamenu .cols4{
    min-width:800px;
}
	/** full width */
		.nav > li.fullwidth {position: inherit;}
		.nav > li.fullwidth > .dropdown-menu{
			width:100%;
		}
.megamenu .menu-content p{padding: 0;}
.megamenu .mega-group > .caret {display: none;}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown .dropdown-menu {padding: 10px 15px;} 
.dropdown .mega-cols {padding: 20px} 
.dropdown-submenu .mega-cols {padding: 0} 
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
	padding: 10px 20px;
}

.dropdown-submenu > ul.dropdown-menu {
    float: left;
    left: 100%;
    line-height: 2;
    list-style: none outside none;
    margin: 0;
    min-width: 160px;
    padding:0;
    position: absolute;
    top: 0;
    z-index: 1000;
}

 /* menu ************************************************/

    .navbar-collapse {
        padding: 0;
    }
	.navbar-nav > li > a {
		padding-top: 30px; 
		padding-bottom: 30px;
		text-transform: uppercase;
		transition: left 0.4s ease-out 0s;
		-webkit-transition: left 0.4s ease-out 0s;
		-ms-transition: left 0.4s ease-out 0s;
		overflow: hidden;
	}
	.navbar-nav  > li:hover > a:before {
		transition: left 0.4s ease-out 0s;
		-webkit-transition: left 0.4s ease-out 0s;
		left:0;
		
	}
	.navbar-nav > li > a:before {
		background-color: #8446AD;
		bottom: 0;
		content: "";
		height: 5px;
		left: -100%;
		position: absolute;
		-webkit-transition: left 0.4s ease-out 0s;
		transition: left 0.4s ease-out 0s;
		width: 100%;
	}
	.dropdown-menu > li > a {
		padding: 5px 0;
		border-bottom: 1px solid #F3F3F3;
	}
	ul > li:last-child > a {
		border-bottom: 0;
	}

        .navbar-default .navbar-nav > li.parent > a {
            padding-right: 20px;

        }
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > li:focus > a,
        .navbar-default .navbar-nav > li:hover > a {
            background: transparent;
			color: #fff;
        }

		.navbar-default .navbar-nav > .active > .caret,
        .navbar-default .navbar-nav > li:focus > .caret,
        .navbar-default .navbar-nav > li:hover > .caret {
            border-top-color: #8446AD;
        }
	/** group menu **/
		.mega-group  a {
			padding: 6px 0;
			line-height: 25px;
			display: block;
            color: #8446AD;
            font-weight: 600;
            font-size: 1.1em;
			border-bottom: 1px solid #eee;
		}

		
/****************************************************************************************
    overide-menu
*****************************************************************************************/
#leo-top-menu .nav > li {
    margin-left: 3px;
}
.iconos-menu em{margin-right: 15px; font-size:1.5em;}
#leo-top-menu .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  top: -6px;
  left: 18px;
}
#leo-top-menu .nav > li > .dropdown-menu {
  display: block!important;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transition: visibility 0s ease-in-out 0.4s, transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -ms-transition: visibility 0s ease-in-out 0.4s, -ms-transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -webkit-transition: visibility 0s ease-in-out 0.4s, -webkit-transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  visibility: hidden;
}
#leo-top-menu .nav > li:hover > .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  visibility: visible;
}
/********* Submenu **************/


    .dropdown-menu {
        top:100%;
        border:none;
        background-color:#FFF;
    }
        .dropdown-menu li:hover .caret {border-left-color: #8446AD;}
        .mega-col .dropdown-submenu > a { 
            text-transform: uppercase;
            padding: 5px 0;
            font-family: 'Raleway';
			font-weight: 600;
			margin-bottom: 5px;
			display: block;
            letter-spacing: 1px;
            text-align: center;
			border-bottom: 0;
        }  
		#cavas_menu .navbar-toggle {
			padding: 12px 10px;
		}
		
		.offcanvas-mainnav {display: none}
	/******************* CANVAST MENU *****/
	@media (min-width: 768px) {
		  .navbar-nav > li > a {
        font-family: 'Lato';
        font-weight: 700;
        letter-spacing: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        }
		}
	@media (max-width: 992px) {
		.offcanvas-mainnav {display: block}
		.off-canvas body{ position: relative}
		.off-canvas-inactive > #page,
		.off-canvas-inactive > #off-canvas-nav {
			 transition:all 500ms ease 0s;
			 transform:translateX(0px);
			 -webkit-transform:translateX(0px);
			 -moz-transform:translateX(0px);
			 -ms-transform:translateX(0px);
			 -o-transform:translateX(0px);
		}
		
		.off-canvas-active > #page ,
		.off-canvas-active > #off-canvas-nav { 
			transform:translateX(234px);
			-webkit-transform:translateX(234px);
			-moz-transform:translateX(234px);
			-ms-transform:translateX(234px);
			-o-transform:translateX(234px);
			transition:all 500ms ease 0s;
			
		}			
		
		 .off-canvas-active  #page {
			position: fixed;
			width: 100%;
		}
		#page-container{ position: relative;}
		#off-canvas-nav{ 
			position: absolute; left:0; top: 0; width:0;background: #FFF;z-index: 999;  
		}
		.off-canvas-active #off-canvas-nav {
		  
		}
		#off-canvas-nav .offcanvas-mainnav{position: absolute; top: 0; left:-234px; overflow:hidden; width:234px; background-color: #fff; box-shadow: 0 0 5px #ccc;}
		#off-canvas-nav .megamenu .mega-cols{min-width:inherit;display:block;}
		#off-canvas-nav .megamenu .mega-cols ul li a {padding: 7px 0;}
		#off-canvas-nav .dropdown-menu{
			position: relative;
			 display: block;
			 left: 0;
			 right: 0;
			 top: 0;
			 float: none;
			 box-shadow: none;
			 margin:7px 0;
			 padding: 10px;
		}
		#off-canvas-nav  .dropdown-submenu  .dropdown-menu {padding: 0;}
		#off-canvas-nav  ul > li:last-child > a { border-bottom: 1px solid #F3F3F3;}
		#off-canvas-nav ul li a:hover{color:#42A8BF}
		#off-canvas-button {text-align:right; margin:10px 10px 0 0; cursor:pointer}
		#off-canvas-nav .mega-col {
			display: block;
			width: 100%;
			position: relative;
			margin-left:0
		}
		.offcanvas-mainnav > .megamenu {padding:0 20px}
		.offcanvas-mainnav > .megamenu > li:last-child a {border-bottom:0!important}

		#off-canvas-nav .dropdown-menu img { width: 100%; }
		#off-canvas-nav #off-canvas-button span { 
			font-weight: bold; 
			margin-right: 12px ;
		}
		#off-canvas-nav .dropdown .dropdown-menu li,#off-canvas-nav .megamenu .dropdown-mega li {
			 background:  none;
		}
		#off-canvas-nav .nav > li:hover, 
		#off-canvas-nav .nav > li > a:hover, #off-canvas-nav .nav > li > a:focus {
			 background:  none;
		}
		#off-canvas-nav .megamenu li.homepage a {
			 height: auto;
			 width: auto;
			 text-indent: inherit;
		}
		#off-canvas-nav .nav li {
			 border:none;
			 padding:  0;
		}
		#off-canvas-nav ul li a {
			 display:  block;
			 color: #5C5B5B;
		}
		#off-canvas-nav .nav > li > a {  
			font-weight: bold;
			text-transform: uppercase;
			padding:  5px 0;
			line-height: 35px;
		}
		#off-canvas-nav .megamenu .menu-desc {
			display:  none;
		}
		#off-canvas-nav .megamenu .menu-icon {
			padding-left: 0;
		}
		#off-canvas-nav .megamenu .mega-col .margin {
			margin-left: 0;
		}
		
		 /* END OF OFF_CANVAS_MENU */
	}