div.addresses {}

ul.address {
   border: 1px solid #F2F5F8;
    border-radius: 5px;
    list-style-type: none;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 0 10px
}

ul.address li {
	padding:5px 15px;
}

ul.address li.address_title {
	background: none repeat scroll 0 0 #FDFDFD;
    border-bottom: 1px solid #F2F5F8;
    line-height:29px;
	font-size: 18px;
	font-family: proximanovasemibold;
}
ul.address .address_alias {
	font-weight: normal;
	text-transform: none;
}
ul.address >li:first-child + li {
	margin-top:8px;
	font-weight: bold;
}

ul.address  li.address_update {
	margin-top:10px;
	margin-bottom: 10px;
}

.address_add {
   padding:20px 0
}


/* PAGE ADRESSES ******************************************************************************* */

.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	display: inline-block;
}

