#my-account #center_column .title_block  {
	font-weight:normal;
	font-size:12px;
	color:#666
}

#my-account .myaccount_lnk_list {list-style-type:none}
#my-account .myaccount_lnk_list li a {
	padding: 8px 0;
	display: block;
}
#my-account .myaccount_lnk_list li .fa {
	font-size: 20px;
	margin-right: 10px;
}
#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
	position:relative;
	margin-right:4px;
	left:0;
	width: 18px;
}
.title-my-account{ text-align: center; font-family: 'Lato'; font-weight: 600; font-size: 2em!important; text-transform: uppercase;}
.txt-my-account{ font-family: 'Lato'; font-weight: 300!important; font-size: 1.1em!important; text-align: center; margin-bottom: 25px;}
.myaccount_lnk_list .fa{ font-size: 2.5em!important;}
.myaccount_lnk_list{ float: left; 100%;}
.myaccount_lnk_list li{display: block; padding:25px;}