.tw-module-wrap .modal-dialog .modal-title,
.tw-module-wrap .tw-module {
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

.bootstrap input[disabled][type=email],
.bootstrap input[disabled][type=url] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.tw-module-wrap #switch-login,
.tw-module-wrap #switch-signup {
  display: inline-block;
  margin-left: 15px;
  color: #0a88c5;
  font-weight: 400;
  cursor: pointer;
}

.tw-module-wrap .tw-module {
  color: #474548;
  cursor: default;
  font-weight: 300;
  font-size: 15px;
}

.tw-module-wrap .tw-module a,
.tw-module-wrap .tw-module a:hover {
  color: #0a88c5;
}

.tw-module-wrap .tw-module .btn {
  padding: 3px 12px;
  font-size: 15px;
  border-width: 2px;
  font-weight: 700;
  color: #fff;
}

.tw-module-wrap .tw-module .btn:focus,
.tw-module-wrap .tw-module .btn:hover {
  text-decoration: none;
  color: #fff;
}

.tw-module-wrap .tw-module .btn-red {
  background-color: #ee7b65;
}

.tw-module-wrap .tw-module .btn-red:focus,
.tw-module-wrap .tw-module .btn-red:hover {
  background-color: #d73819;
}

.tw-module-wrap .tw-module .btn-white {
  color: #0a88c5;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  font-weight: 700;
  text-align: left;
  font-size: 17px;
  background-color: #fff;
}

.tw-module-wrap .tw-module .btn-white:focus,
.tw-module-wrap .tw-module .btn-white:hover {
  color: #0a88c5;
  background-color: #f8f8f8;
}

.tw-module-wrap .tw-module .btn-lg {
  margin-left: 8px;
  padding: 12px 30px;
  font-size: 17px;
}

.tw-module-wrap .tw-module .fa-ul li {
  list-style: none;
}

.tw-module-wrap .tw-module form {
  margin-top: -3px;
}

.tw-module-wrap .tw-module label {
  padding-top: 8px;
  font-weight: inherit;
}

.tw-module-wrap .tw-module .text-danger {
  font-size: 13px;
  color: #484848;
}

.tw-module-wrap .tw-module .mdp-forget {
  margin-top: 5px;
  font-size: 13px;
}

.tw-module-wrap .tw-module .button-wrap {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px dotted #DCDCDC;
  background-color: #f8f8f8;
}

.tw-module-wrap .tw-module .form-control {
  display: inline-block;
  margin-bottom: 5px;
  height: 38px;
  box-shadow: 0 0 0 5px #f8f8f8;
  border-radius: 0;
  color: #484848;
  border-color: #DCDCDC;
  background-color: #fff;
  font-size: 15px;
}

.tw-module-wrap .tw-module .form-control:focus {
  font-weight: 500;
  border-color: #484848;
  box-shadow: 0 0 0 5px #f8f8f8;
  background-color: #fff;
}

.tw-module-wrap .tw-module .tw-field-error .form-control {
  margin: 0 0 5px;
  color: #ee7b65;
  border-color: #ee7b65;
  background-color: #fceae7;
}

.tw-module-wrap .tw-module .tw-field-error .form-picto::after {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 13px;
  height: 13px;
  background: url("../img/picto-error.png") no-repeat;
}

.tw-module-wrap .tw-module .tw-field-success .form-picto::after {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 18px;
  height: 14px;
  background: url("../img/picto-success.png") no-repeat;
}

.tw-module-wrap .tw-module .tw-alert {
  position: relative;
  padding-left: 35px;
  min-height: 27px;
}

.tw-module-wrap .tw-module .tw-alert .tw-icon {
  display: inline-block;
  position: absolute;
  left: -5px;
  top: -2px;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
}

.tw-module-wrap .tw-module .tw-alert .tw-icon-warning {
  background-position: 0 -69px;
}

.tw-module-wrap .tw-module .tw-alert .tw-icon-success {
  background-position: -29px -69px;
}

.tw-module-wrap .tw-module .tw-banner {
  padding: 5px 30px 10px;
  position: relative;
  border-radius: 2px;
  color: #fff;
  background-color: #0a88c5;
  background: -moz-linear-gradient(top,#0a88c5 0,#087dba 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0a88c5),color-stop(100%,#087dba));
  background: -webkit-linear-gradient(top,#0a88c5 0,#087dba 100%);
  background: -o-linear-gradient(top,#0a88c5 0,#087dba 100%);
  background: -ms-linear-gradient(top,#0a88c5 0,#087dba 100%);
  background: linear-gradient(to bottom,#0a88c5 0,#087dba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=0);
}

.tw-module-wrap .tw-module .tw-banner .tw-logo {
  display: block;
  position: absolute;
  left: 30px;
  top: -10px;
  width: 310px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  background-color: #fff;
}

.tw-module-wrap .tw-module .tw-banner .tw-logo .img-responsive {
  display: inline-block;
}

.tw-module-wrap .tw-module .tw-banner .banner-title {
  margin-left: 325px;
  font-size: 30px;
}

.tw-module-wrap .tw-module .tw-banner .tw-list {
  margin-top: 25px;
  font-size: 16px;
}

.tw-module-wrap .tw-module .tw-banner .tw-list div {
  display: inline-block;
  vertical-align: top;
}

.tw-module-wrap .tw-module .tw-banner .tw-def {
  padding-left: 70px;
}

.tw-module-wrap .tw-module .tw-banner .tw-def::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background: url("../img/sprite.png") -91px -89px no-repeat;
}

.tw-module-wrap .tw-module .tw-banner .tw-def2::before {
  background-position: -154px -89;
}

.tw-module-wrap .tw-module .tw-banner .tw-def3::before {
  background-position: -218px -89px;
}

.tw-module-wrap .tw-module .tw-box {
  margin-top: 15px;
  border: 2px solid #DCDCDC;
  border-radius: 3px;
  background-color: #fff;
}

.tw-module-wrap .tw-module .tw-box .tw-title {
  padding: 25px 27px;
  margin: 0;
  font-size: 18px;
  color: #a39fa5;
}

.tw-module-wrap .tw-module .tw-box .tw-box-title {
  padding: 25px 27px;
  font-size: 26px;
}

.tw-module-wrap .tw-module .tw-step {
  border-top: 1px dotted #DCDCDC;
}

.tw-module-wrap .tw-module .tw-padding {
  padding-left: 27px;
  padding-right: 27px;
}

.tw-module-wrap .tw-module .tw-step-margin {
  margin-left: 27px;
  margin-right: 27px;
}

.tw-module-wrap .tw-module .tw-padding-bottom {
  padding-bottom: 35px;
}

.tw-module-wrap .tw-module .tw-step-content,
.tw-module-wrap .tw-module .tw-step>div {
  display: none;
}

.tw-module-wrap .tw-module .stepClickable {
  color: #0a88c5;
  cursor: pointer;
}

.tw-module-wrap .tw-module .stepCurrent,
.tw-module-wrap .tw-module .tw-step-done-1 .tw-step1 .tw-title {
  color: #474548;
}

.tw-module-wrap .tw-module .tw-step-final-completed p:first-child {
  font-size: 18px;
}

.tw-module-wrap .tw-module .tw-step ul {
  padding-left: 14px;
}

.tw-module-wrap .tw-module .tw-step ul li {
  margin-bottom: 5px;
}

.tw-module-wrap .tw-module .btn-white::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 41px;
  height: 41px;
  vertical-align: middle;
  background: url("../img/sprite.png") 0 -25px no-repeat;
}

.tw-module-wrap .tw-module .btn-ko {
  margin-left: 25px;
}

.tw-module-wrap .tw-module .btn-ko::before {
  background-position: -42px -25px;
}

.tw-module-wrap .tw-module .tw-step-done-1.tw-step-selected-1.tw-step-account-exist .tw-step-form-login,
.tw-module-wrap .tw-module .tw-step-done-1.tw-step-selected-1.tw-step-account-new .tw-step-form-signup {
  display: block!important;
  margin-top: -4px;
}

.tw-module-wrap .tw-module .tw-step-account-new .button-wrap,
.tw-module-wrap .tw-module .tw-step3 .button-wrap {
  margin-top: 20px;
}

.tw-module-wrap .tw-module .tw-step-done-2 .tw-step1 .tw-title {
  color: #0a88c5;
  cursor: pointer;
}

.tw-module-wrap .tw-module .tw-step-done-2 .tw-step2 .tw-title {
  color: #474548;
}

.tw-module-wrap .tw-module .tw-step-done-2.tw-onboarding-completed .tw-step-final-completed,
.tw-module-wrap .tw-module .tw-step-done-2.tw-onboarding-ongoing .tw-step-final-ongoing,
.tw-module-wrap .tw-module .tw-step-done-2.tw-step-selected-1 .tw-step-form-signup {
  display: block;
}

.tw-module-wrap .tw-module .tw-step-done-2 .tw-step-final-ongoing .tw-alert>div {
  color: #ff6907;
  font-weight: 400;
}

.tw-module-wrap .tw-module .tw-step2 .tw-padding-bottom {
  padding-bottom: 25px;
}

.tw-module-wrap .tw-module .tw-step-done-3 .tw-step2 .tw-title {
  color: #0a88c5;
  cursor: pointer;
}

.tw-module-wrap .tw-module .tw-step-done-3 .tw-step3 .tw-title {
  color: #474548;
}

.tw-module-wrap .tw-module .tw-step3 .tw-padding-bottom {
  padding-bottom: 15px;
}

.tw-module-wrap .tw-module .tw-step3 .button-wrap .btn {
  margin-left: 35px;
}

.tw-module-wrap .tw-module .tw-step-final-completed .button-wrap {
  margin-top: 10px;
}

.tw-module-wrap .tw-module .tw-customers .tw-title {
  color: #484848;
}

.tw-module-wrap .tw-module .tw-customers .priceminister {
  margin-top: -10px;
}

.tw-module-wrap .tw-module .tw-testimony {
  margin-bottom: 12px;
}

.tw-module-wrap .tw-module .tw-testimony::before {
  margin-right: 5px;
  content: url("../img/quote-before.png");
}

.tw-module-wrap .tw-module .tw-testimony::after {
  margin-left: 5px;
  content: url("../img/quote-after.png");
}

.tw-module-wrap .tw-module .tw-client-prems {
  position: relative;
  margin-right: 20px;
}

.tw-module-wrap .tw-module .tw-client-prems>img {
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.tw-module-wrap .tw-module .tw-client-prems>span {
  display: inline-block;
  padding-top: 10px;
  position: absolute;
  left: 140px;
  top: -20px;
  width: 50px;
  height: 50px;
  line-height: 13px;
  text-align: center;
  border-radius: 55px;
  color: #fff;
  background-color: #f39800;
}

.tw-module-wrap .tw-module .tw-client-prems>span em {
  font-style: normal;
  font-size: 10px;
}

@media screen and (min-width:1200px) {
  .tw-module-wrap .tw-module .tw-client-prems {
    padding-right: 10px;
    text-align: right;
  }

  .tw-module-wrap .tw-module .tw-client-prems span {
    right: -10px;
    left: auto;
  }

  .tw-module-wrap .tw-module .tw-def {
    padding-right: 30px;
  }
}

@media screen and (max-width:1200px) {
  .tw-module-wrap .tw-module .tw-banner .banner-title {
    margin: 55px 0 0;
  }

  .tw-module-wrap .tw-module .tw-customers .priceminister {
    margin-top: 50px;
  }

  .tw-module-wrap .tw-module .btn-ko {
    margin: 15px 0 0;
  }
}

@media screen and (max-width:992px) {
  .tw-module-wrap .tw-module .tw-banner .tw-def {
    padding-left: 0;
  }

  .tw-module-wrap .tw-module .tw-banner .tw-def::before {
    position: inherit;
    left: auto;
    top: auto;
    margin-bottom: 5px;
  }
}

@media screen and (min-width:767px) and (max-width:992px) {
  .tw-module-wrap .tw-module .tw-customers .img-responsive {
    margin-bottom: 35px;
  }
}

@media screen and (max-width:766px) {
  .tw-module-wrap .tw-module .tw-list li {
    margin-bottom: 10px;
  }

  .tw-module-wrap .tw-module .tw-list .tw-def {
    text-align: left;
  }

  .tw-module-wrap .tw-module .btn:first-child {
    margin-top: 0;
  }

  .tw-module-wrap .tw-module .button-wrap {
    padding-left: 30px;
  }

  .tw-module-wrap .tw-module .tw-testimony {
    margin-top: 25px;
  }
}

@media screen and (max-width:480px) {
  .tw-module-wrap .tw-module .tw-banner .tw-logo {
    margin-top: 20px;
    position: inherit;
    left: auto;
    top: auto;
    width: 100%;
  }

  .tw-module-wrap .tw-module .tw-banner .banner-title {
    margin: 25px 0 0;
  }

  .tw-module-wrap .tw-module .tw-step1 .btn {
    padding: 10px;
    white-space: normal;
  }

  .tw-module-wrap .tw-module .tw-step1 .btn::before {
    display: none;
  }
}

.tw-module-wrap .modal-dialog .form-control {
  height: 48px;
  border-radius: 3px;
  font-size: 16px;
}

.tw-module-wrap .modal-dialog .modal-header {
  padding: 0 15px;
  border-bottom: 0;
}

.tw-module-wrap .modal-dialog .modal-title {
  text-align: center;
  color: #0a88c5;
  font-weight: 500;
  font-size: 24px;
}

.tw-module-wrap .modal-dialog .modal-content {
  padding: 15px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.tw-module-wrap .modal-dialog .modal-content .close {
  font-weight: 400;
  font-size: 34px;
}

.tw-module-wrap .modal-dialog .modal-content a {
  text-decoration: underline;
  color: #9c9c9c;
}

.tw-module-wrap .modal-dialog .modal-content a:focus,
.tw-module-wrap .modal-dialog .modal-content a:hover {
  color: #9c9c9c;
  text-decoration: none;
}

.bootstrap .tw-module .alert.alert-danger {
  padding: 15px 15px 8px 30px;
  border-radius: 0;
  font-weight: 500;
  color: #EB7B68;
  border: 1px solid #EB7B68;
  background-color: #FBEAE7;
}

.bootstrap .tw-module .alert.alert-danger::before {
  content: '';
  width: 27px;
  height: 27px;
  margin-right: 10px;
  left: 10px;
  top: 12px;
  background: url("../img/sprite.png") 0 -98px no-repeat;
}

@media screen and (max-width:766px) {
  .bootstrap .tw-module .form-group {
    margin-bottom: 10px;
  }
}
