/*
	PrestaShop CSS
	green color
*/

	
.lnk a:hover	,
a:focus,
a:hover {
	color: #ff1493;
}
	/*#header_logo { background: url(../img/logo_pink.png) center center no-repeat; min-width: 173px;}
	#header_logo img {display: none;}*/
.carousel-control:hover, .carousel-control:focus {
	background-color: #ff1493;
	color: #fff;
}

	/*button */
		input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, a.exclusive:hover, span.exclusive:hover, .button:hover, .button_large:hover, .button_small:hover {background-color: #ff1493; border-color: #ff1493!important;}
	
	/*tooltip*/
		.tooltip-inner {background-color: #ff1493 }
		.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow,.tooltip.top .tooltip-arrow { border-top-color: #ff1493;}
		.tooltip.right .tooltip-arrow {border-right-color: #ff1493;}
		.tooltip.left .tooltip-arrow { border-left-color: #ff1493;}
		.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow,.tooltip.bottom .tooltip-arrow {border-bottom-color: #ff1493;}
	/* pagination */
		.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus,
		.pagination > li.current > span:hover, .pagination > li.current > span:focus, .pagination > li.current > span {
			background-color: #ff1493;
		}
/*topbar */
	#topbar .links a.account,
	#topbar #header_user_info a {
		color: #ff1493;
	}
	#topbar .links a:hover {color: #ff1493;}
/* main menu */
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li:focus > a, .navbar-default .navbar-nav > li:hover > a {color: #ff1493; }
	.navbar-default .navbar-nav > .active > .caret, .navbar-default .navbar-nav > li:focus > .caret, .navbar-default .navbar-nav > li:hover > .caret {border-top-color: #ff1493;}
	.dropdown-menu li:hover .caret { border-left-color:#ff1493;}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #ff1493;}
	.navbar-nav > li > a:before {background-color: #ff1493}
	
/** slideshow */
		.leo-coinslider-basic .nivo-directionNav a{
			background-image: url(../img/arrow-control.png);
		}
		.leo-coinslider-basic .nivo-controlNav a {background-image: url(../img/bullets.png);}
		
/* breadcrumb**/
	.breadcrumb {color:#ff1493; }
/** Leo Manage Widgets **/
	.media .readmore a {
		color: #ff1493;
		background-image:url(../img/circle-li.png)
	}
	.nav-tabs li.active {background-color: #ff1493;}
	.nav-tabs li.active:before {border-top-color: #ff1493; }
	.rating_box .fa-star {color: #ff1493;}
	
/** advandfooter */
	#advandfooter a:hover {color: #ff1493; }
	#block_contact_infos li:hover {color: #ff1493;}
	#block_contact_infos li:hover span {border-color: #ff1493;}
	.link a { background-image: url("../img/circle-li.png");}
	#newsletter_block_left .button_mini {background-color:#ff1493; border-color: #ff1493!important;}
	
	#footer-bottom .copyright a {color: #ff1493;}
	
/** sidebar **/
	.column .bullet li a {	background-image: url("../img/arrow-li.png");}
	.column .bullet li a.selected, .column .bullet li a:hover {color: #ff1493}
	.column .bullet li a.selected .badge, .column .bullet li a:hover .badge {background-color: #ff1493}
/** product list*/
		.cat_desc .lnk_more {
		   color:#ff1493;
			background-image:url("../img/circle-li.png");
		}
		#productsview .active, #productsview .fa:hover { background-color: #ff1493;  border-color:#ff1493!important;}
		input.bt_compare {background-color: #ff1493;  border: 1px solid #ff1493 !important;}
		
/* product */
	#attributes .attribute_list #color_to_pick_list li.selected {  border-color: #ff1493;} 
	.idTabs a:hover, .idTabs .selected {color: #ff1493;}
	
/*** comment **/
	#product_comments_block_tab div.star, #product_comments_block_tab div.star_on,
	#product_comments_block_extra div.star_on,
	.star, .star a {
		background-image: url(../img/star.gif);
	}
	