/* Special style for block cart*/

#header  #cart_block .title_block, #header  #cart_block h4 {
	display: none;
}
#header #cart_block {
	z-index: 10;
	display:none;
	position: absolute;
	right: 10px;
	top: 40px;
	height: auto;
	width: 260px;
	background:#fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	z-index: 100;
}
#cart_block.cart_block_hover {display:block}
#cart_block .title_block  span, #header  #cart_block h4 {
	float: right;
	padding-left: 10px;
	text-transform: none;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer
}

#cart_block_list dt {font-weight: normal;}
#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	padding-right:2px;
	min-width:18px;
	vertical-align: top;
}
#cart_block .remove_link, #cart_block .deleteCustomizableProduct {
	display:inline-block;
	margin:3px 0 0 5px;
	height:12px;
    float: left;
	width:12px
}
#cart_block .remove_link a, #cart_block .ajax_cart_block_remove_link {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.png) no-repeat 0 0
}
.cart_block_product_name {
    float: left;
    width: 50%;
    font-weight: 300;
}
#cart_block .price {
	float:right;
	font-size: 14px;

}
.cart_block_product_name {
    float: left;
}
#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {
    border-bottom: 1px solid #eee;
    float: left;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 15px !important;
    width: 100%;
}
#cart_block #cart_block_list dt a {
	display: inline-block; max-width: 95px;
}
#cart_block #cart_block_list dd {
	margin-left:20px
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:25px;
	border-top:1px solid #EEEEEE;
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart-buttons{margin-top: 10px;}
#cart_block #cart-buttons  #button_order_cart {
	float:right;
	padding-left:20px
}

#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-right:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}

